Repository ObsidianMC/Obsidian, changes with the labels that .github/labeler.yml gives for each.
All labels: github-actions, api, commands, nbt, plugins, source-generation, tests, world generation

Personal code review
  Obsidian/WorldData/Region.cs
Labels: none

A few more bug fixes
  Obsidian/Block.cs
  Obsidian/WorldData/BlockUpdates.cs
Labels: none

Another bugfix
  Obsidian/Entities/Player.cs
Labels: none

Feature/liquid physics (#138)
  Obsidian/Block.cs
  Obsidian/Client.cs
  Obsidian/Entities/Player.cs
  Obsidian/Net/Packets/Play/Serverbound/PlayerBlockPlacement.cs
  Obsidian/Net/Packets/Play/Serverbound/PlayerDigging.cs
  Obsidian/Server.cs
  Obsidian/WorldData/BlockUpdates.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/MountainsDecorator.cs
  Obsidian/WorldData/Region.cs
  Obsidian/WorldData/World.cs
Labels: none

Minor refactors
  Obsidian/Entities/Entity.cs
  Obsidian/Entities/Player.cs
  Obsidian/Net/MinecraftStream.Writing.cs
Labels: none

Initial draft
  Benchmark/Benchmark.csproj
  Benchmark/Benchmarks.cs
  Benchmark/Program.cs
  Obsidian.API/Obsidian.API.csproj
  Obsidian.API/Performance/ApiHelper.cs
  Obsidian.API/Performance/FormattableChatMessage.cs
  Obsidian.API/Performance/FormattingHelper.cs
  Obsidian.API/Performance/Utf8Message.cs
  Obsidian.API/_Interfaces/IPlayer.cs
  Obsidian.API/_Interfaces/IServer.cs
  Obsidian.API/_Types/ChatMessage.cs
  Obsidian.Tests/FormattableChatMessageTests.cs
  Obsidian.sln
  Obsidian/Entities/Player.cs
  Obsidian/Net/MinecraftStream.Writing.cs
  Obsidian/Net/Packets/Play/Clientbound/ChatMessagePacket.cs
  Obsidian/Server.cs
Labels: api, tests

Add PacketReceived event
  Obsidian.API/Events/PacketReceivedEventArgs.cs
  Obsidian/Client.cs
  Obsidian/Events/EventArgs/PacketReceivedEventArgs.cs
Labels: api

Moved Animation to be handled by the pool
  Obsidian/Utilities/ClientHandler.cs
Labels: none

Fixed not being able to be seen by other players
  Obsidian/Entities/Player.cs
Labels: none

Make sure not use use items for block placements
  Obsidian/Net/Packets/Play/Serverbound/PlayerBlockPlacement.cs
Labels: none

Update IPlayer.cs
  Obsidian.API/_Interfaces/IPlayer.cs
Labels: api

bug: Fix spawn position being calculated incorrectly
  Obsidian/WorldData/World.cs
Labels: none

bug: Fix previous bug fix that fixed the other bug
  Obsidian/WorldData/World.cs
Labels: none

Use item packet implemented
  Obsidian.API/Events/ItemUsedEventArgs.cs
  Obsidian/Events/MinecraftEventHandler.cs
  Obsidian/Net/Packets/Play/Serverbound/UseItem.cs
  Obsidian/Utilities/ClientHandler.cs
Labels: api

Fixed blocks not being broadcasted/saved
  Obsidian/Net/Packets/Play/Serverbound/PlayerBlockPlacement.cs
Labels: none

Update ClientHandler.cs
  Obsidian/Utilities/ClientHandler.cs
Labels: none

Move Block to API
  Obsidian.API/_Types/Block.cs
  Obsidian/BlockUpdate.cs
  Obsidian/Blocks/OakDoor.cs
  Obsidian/ChunkData/BlockStateContainer.cs
  Obsidian/ChunkData/GlobalBlockStatePalette.cs
  Obsidian/ChunkData/IBlockStatePalette.cs
  Obsidian/ChunkData/LinearBlockStatePalette.cs
  Obsidian/Events/EventArgs/BlockBreakEventArgs.cs
  Obsidian/Net/Packets/Play/Clientbound/Statistics.cs
  Obsidian/Utilities/Registry/Registry.cs
Labels: api

Expose getting/setting blocks in IWorld
  Obsidian.API/_Interfaces/IWorld.cs
Labels: api

Added block events to API
  Obsidian.API/Events/BlockBreakEventArgs.cs
  Obsidian.API/Events/BlockInteractEventArgs.cs
  Obsidian/Events/EventArgs/BlockBreakEventArgs.cs
  Obsidian/Events/EventArgs/BlockInteractEventArgs.cs
  Obsidian/Events/MinecraftEventHandler.cs
  Obsidian/Net/Packets/Play/Serverbound/PlayerDigging.cs
  Obsidian/Server.cs
Labels: api

Made Player in BlockBreakEventArgs nullable
  Obsidian.API/Events/BlockBreakEventArgs.cs
  Obsidian.API/Events/BlockEventArgs.cs
  Obsidian/Net/Packets/Play/Serverbound/PlayerDigging.cs
Labels: api

Why are you doing this to me Tides
  Obsidian.API/Events/BlockBreakEventArgs.cs
Labels: api

Fix BlockChange issues when setting blocks
  Obsidian.API/_Interfaces/IWorld.cs
  Obsidian/Entities/FallingBlock.cs
  Obsidian/Net/Packets/Play/Serverbound/PlayerBlockPlacement.cs
  Obsidian/Net/Packets/Play/Serverbound/PlayerDigging.cs
  Obsidian/Server.cs
  Obsidian/WorldData/BlockUpdates.cs
  Obsidian/WorldData/Generators/Overworld/Features/Trees/AcaciaTree.cs
  Obsidian/WorldData/Generators/Overworld/Features/Trees/BaseTree.cs
  Obsidian/WorldData/Generators/Overworld/Features/Trees/LargeOakTree.cs
  Obsidian/WorldData/Generators/Overworld/Features/Trees/LargeSpruceTree.cs
  Obsidian/WorldData/World.cs
Labels: api

Scoreboard fixed
  Obsidian.API/_Interfaces/IScoreboard.cs
  Obsidian/Scoreboard.cs
Labels: api

Fixed scoreboards not updating scores properly and added a method to remove scores
  Obsidian.API/_Interfaces/IScoreboard.cs
  Obsidian/Entities/Player.cs
  Obsidian/Scoreboard.cs
Labels: api

Hotfix
  Obsidian/Server.cs
Labels: none

Added custom name property to IEntity and replaced Player.DisplayName with that
  Obsidian.API/_Interfaces/IEntity.cs
  Obsidian.API/_Interfaces/IPlayer.cs
  Obsidian/Entities/Player.cs
Labels: api

Add ConcurrentMap
  Obsidian/Utilities/Concurrency/ConcurrentMap.cs
Labels: none

Add ConcurrentMap.Enumerator
  Obsidian/Utilities/Concurrency/ConcurrentMap.cs
Labels: none

Added ConcurrentMap.ContainsKey
  Obsidian/Utilities/Concurrency/ConcurrentMap.cs
Labels: none

Make OnlinePlayers ConcurrentMap
  Obsidian/Server.cs
  Obsidian/Utilities/Concurrency/ConcurrentMap.cs
  Obsidian/Utilities/Extensions.cs
Labels: none

Minor refactors
  Obsidian/Entities/Player.cs
  Obsidian/Net/Packets/Play/Serverbound/ClickWindow.cs
  Obsidian/Server.cs
Labels: none

Create BossBar interface and moved bossbar stuff to api
  Obsidian.API/Boss/BossBarColor.cs
  Obsidian.API/Boss/BossBarDivisionType.cs
  Obsidian.API/Boss/BossBarFlags.cs
  Obsidian.API/_Interfaces/IBossBar.cs
Labels: api

Update BossBarAction and all its children
  Obsidian/Net/Actions/BossBar/BossBarAction.cs
  Obsidian/Net/Actions/BossBar/BossBarAddAction.cs
  Obsidian/Net/Actions/BossBar/BossBarRemoveAction.cs
  Obsidian/Net/Actions/BossBar/BossBarUpdateFlagsAction.cs
  Obsidian/Net/Actions/BossBar/BossBarUpdateHealthAction.cs
  Obsidian/Net/Actions/BossBar/BossBarUpdateStyleAction.cs
  Obsidian/Net/Actions/BossBar/BossBarUpdateTitleAction.cs
  Obsidian/Net/MinecraftStream.Writing.cs
  Obsidian/Net/Packets/Play/Clientbound/BossBarPacket.cs
Labels: none

Update server and create BossBar class
  Obsidian.API/_Interfaces/IServer.cs
  Obsidian/BossBar.cs
  Obsidian/Server.cs
Labels: api

Update Player.cs
  Obsidian/Entities/Player.cs
Labels: none

Update BossBar.cs
  Obsidian/BossBar.cs
Labels: none

Add GetOffHandItem and GetHeldItem to api
  Obsidian.API/_Interfaces/IPlayer.cs
  Obsidian/Entities/Player.cs
Labels: api

Cleaned up player class
  Obsidian/Entities/Player.cs
Labels: none

Server refactoring
  Obsidian.API/_Interfaces/IServer.cs
  Obsidian/Client.cs
  Obsidian/Commands/Framework/CommandHandler.cs
  Obsidian/Commands/MainCommandModule.cs
  Obsidian/Entities/FallingBlock.cs
  Obsidian/Net/Packets/Play/Serverbound/IncomingChatMessage.cs
  Obsidian/Net/Packets/Play/Serverbound/PlayerBlockPlacement.cs
  Obsidian/Server.cs
  Obsidian/ServerImplementationRegistry.cs
  Obsidian/Utilities/BalancingTimer.cs
  Obsidian/Utilities/Extensions.cs
  Obsidian/Utilities/Registry/Registry.cs
  Obsidian/Utilities/ServerStatus.cs
  Obsidian/Utilities/TpsMeasure.cs
  Obsidian/WorldData/BlockUpdates.cs
  Obsidian/WorldData/World.cs
Labels: api, commands

Finalize refactor
  Obsidian.API/_Interfaces/IServer.cs
  Obsidian/Commands/MainCommandModule.cs
  Obsidian/Entities/Entity.cs
  Obsidian/Entities/Player.cs
  Obsidian/Net/Packets/Play/Animation.cs
  Obsidian/Net/Packets/Play/Serverbound/CreativeInventoryAction.cs
  Obsidian/Net/Packets/Play/Serverbound/EntityAction.cs
  Obsidian/Net/Packets/Play/Serverbound/ServerHeldItemChange.cs
  Obsidian/Server.cs
  Obsidian/Utilities/TpsMeasure.cs
  Obsidian/WorldData/World.cs
Labels: api, commands

.github/labeler.yml:

github-actions:
  - .github/workflows/*
  - .github/workflows/**/*

api:
  - Obsidian.API/*
  - Obsidian.API/**/*
  
commands:
  - Obsidian/Commands/*
  - Obsidian/Commands/**/*
  - Obsidian.API/_Attributes/*
  
nbt:
  - Obsidian.Nbt/*
  - Obsidian.Nbt/**/*

plugins:
  - Obsidian/Plugins/*
  - Obsidian/Plugins/**/*
  - Obsidian.API/Plugins/*
  - SamplePlugin/*

source-generation:
  - Obsidian.SourceGenerators/*
  - Obsidian.SourceGenerators/**/*

tests:
  - Obsidian.Tests/*
  - Obsidian.Tests/**/*

world generation:
  - Obsidian/WorldData/Generators
