Repository ObsidianMC/Obsidian, changes with the labels that .github/labeler.yml gives for each.
All labels: github-actions, api, commands, nbt, plugins, source-generation, tests, world generation

Update AnimationPacket.cs
  Obsidian/Net/Packets/Play/AnimationPacket.cs
Labels: none

Changes to inventory/itemstack and packets that use it
  Obsidian.API/_Types/Inventory/Inventory.cs
  Obsidian/Entities/Player.cs
  Obsidian/Net/MinecraftStream.Writing.cs
  Obsidian/Net/Packets/Play/Clientbound/SpawnEntityPacket.cs
  Obsidian/Net/Packets/Play/Serverbound/ClickWindowPacket.cs
  Obsidian/Server.cs
  Obsidian/Utilities/ClientHandler.cs
  Obsidian/Utilities/Extensions.cs
  Obsidian/WorldData/World.cs
Labels: api

Save dimension as a string and some other changes
  Obsidian.API/_Interfaces/IPlayer.cs
  Obsidian/Client.cs
  Obsidian/Entities/Player.cs
  Obsidian/Net/Packets/Play/Clientbound/JoinGame.cs
  Obsidian/Utilities/Registry/Registry.cs
  Obsidian/WorldData/World.cs
Labels: api

Add state id and increment on packet sent
  Obsidian.API/_Types/Inventory/Inventory.cs
  Obsidian/Client.cs
  Obsidian/Server.cs
Labels: api

Update Player.cs
  Obsidian/Entities/Player.cs
Labels: none

Minor refactors
  Obsidian/Net/MinecraftStream.cs
  Obsidian/Net/Packets/Play/Serverbound/PlayerBlockPlacement.cs
  Obsidian/Utilities/Registry/Codecs/Biomes/BiomeElement.cs
Labels: none

Implement title packet
  Obsidian.API/_Interfaces/IPlayer.cs
  Obsidian/Commands/MainCommandModule.cs
  Obsidian/Entities/Player.cs
  Obsidian/Net/Packets/Play/Clientbound/TitlePacket.cs
Labels: api, commands

Introduce teams packet
  Obsidian.API/_Enums/CollisionRule.cs
  Obsidian.API/_Enums/NameTagVisibility.cs
  Obsidian.API/_Enums/TeamColor.cs
  Obsidian/Net/Packets/Play/Clientbound/TeamsPacket.cs
Labels: api

Implement teams into scoreboard
  Obsidian.API/_Interfaces/IScoreboard.cs
  Obsidian.API/_Interfaces/ITeam.cs
  Obsidian/Net/Packets/Play/Clientbound/TeamsPacket.cs
  Obsidian/Scoreboard.cs
  Obsidian/Team.cs
Labels: api

Move item to api
  Obsidian.API/_Types/Inventory/Item.cs
Labels: api

Introduce advancements stuff
  Obsidian.API/_Types/Advancements/Advancement.cs
  Obsidian.API/_Types/Advancements/AdvancementDisplay.cs
  Obsidian.API/_Types/Advancements/Criteria.cs
  Obsidian/Net/MinecraftStream.Writing.cs
  Obsidian/Net/Packets/Play/Clientbound/AdvancementsPacket.cs
Labels: api

Clean up the player class
  Obsidian/Client.cs
  Obsidian/Entities/Player.cs
Labels: none

Cleaned up player info and client class
  Obsidian/Client.cs
  Obsidian/Entities/Player.cs
  Obsidian/Net/Actions/PlayerInfo/AddPlayerInfoAction.cs
  Obsidian/Net/Actions/PlayerInfo/InfoAction.cs
  Obsidian/Net/Actions/PlayerInfo/UpdateDisplayNameInfoAction.cs
  Obsidian/Net/Actions/PlayerInfo/UpdateGamemodeInfoAction.cs
  Obsidian/Net/Actions/PlayerInfo/UpdatePingInfoAction.cs
  Obsidian/Net/MinecraftStream.Writing.cs
  Obsidian/Net/Packets/Play/Clientbound/PlayerInfo.cs
  Obsidian/Net/Packets/Play/Clientbound/PlayerInfoPacket.cs
Labels: none

Updated some property names and added advancement data
  Obsidian.API/_Types/Advancements/Advancement.cs
  Obsidian.API/_Types/Advancements/AdvancementReward.cs
  Obsidian.API/_Types/Advancements/Criteria.cs
  Obsidian/Assets/advancements.json
  Obsidian/Net/MinecraftStream.Writing.cs
  Obsidian/Net/Packets/Play/Clientbound/AdvancementsPacket.cs
Labels: api

Introduce window property
  Obsidian/Net/MinecraftStream.Writing.cs
  Obsidian/Net/Packets/Play/Clientbound/WindowPropertyPacket.cs
  Obsidian/Net/WindowProperties/AnvilWindowProperty.cs
  Obsidian/Net/WindowProperties/BeaconWindowProperty.cs
  Obsidian/Net/WindowProperties/BrewingStandWindowProperty.cs
  Obsidian/Net/WindowProperties/EnchantmentTableWindowProperty.cs
  Obsidian/Net/WindowProperties/FurnaceWindowProperty.cs
  Obsidian/Net/WindowProperties/IWindowProperty.cs
  Obsidian/Net/WindowProperties/LecternWindowProperty.cs
  Obsidian/Net/WindowProperties/LoomWindowProperty.cs
  Obsidian/Net/WindowProperties/StonecutterWindowProperty.cs
Labels: none

Updated some events and packets
  Obsidian.API/Events/BlockInteractEventArgs.cs
  Obsidian.API/Events/ItemUsedEventArgs.cs
  Obsidian.API/Events/PlayerInteractEventArgs.cs
  Obsidian.API/_Types/Inventory/Inventory.cs
  Obsidian/Events/MinecraftEventHandler.cs
  Obsidian/Net/Packets/Play/Serverbound/PlayerBlockPlacement.cs
  Obsidian/Net/Packets/Play/Serverbound/UseItem.cs
Labels: api

Some minor refactors
  Obsidian/Net/Packets/Play/Serverbound/PlayerBlockPlacement.cs
  Obsidian/Server.Events.cs
  Obsidian/Server.cs
Labels: none

Move events and update ClickWindowPacket
  Obsidian/Net/MinecraftStream.Reading.cs
  Obsidian/Net/Packets/Play/Serverbound/ClickWindowPacket.cs
  Obsidian/Server.Events.cs
Labels: none

Shorten code and give better names to xp helper methods
  Obsidian/Net/Packets/Play/Clientbound/SetExperience.cs
  Obsidian/Utilities/XpHelper.cs
Labels: none

Update inventory stuff and things related
  Obsidian.API/_Types/Inventory/Inventory.cs
  Obsidian/Entities/Player.cs
  Obsidian/Server.Events.cs
  Obsidian/WorldData/World.cs
Labels: api

Better readability improvements
  Obsidian.API/_Types/Inventory/Inventory.cs
  Obsidian/Utilities/XpHelper.cs
Labels: api

Update README.md
  README.md
Labels: none

Implemented Face Player packet
  Obsidian/Net/Packets/Play/Clientbound/FacePlayer.cs
Labels: none

Fix errors
  Obsidian/Entities/Player.cs
  Obsidian/Net/Packets/Play/CloseWindow.cs
  Obsidian/Server.Events.cs
  Obsidian/Server.cs
Labels: none

Requested changes
  Obsidian/Net/Packets/Play/Clientbound/FacePlayer.cs
Labels: none

Removed regions
  Obsidian/Commands/MainCommandModule.cs
Labels: commands

Fix usage message error
  Obsidian/Commands/Framework/Entities/Command.cs
Labels: commands

Allow every permission from console
  Obsidian.API/_Attributes/RequirePermissionAttribute.cs
Labels: api, commands

Allow most of the commands to be executed from console
  Obsidian/Commands/MainCommandModule.cs
Labels: commands

Fixed exception when creating inventory for players
  Obsidian.API/_Types/Inventory/Inventory.cs
  Obsidian/Entities/Player.cs
Labels: api

Change issuers default value to `IssuerScope.Any`
  Obsidian/Commands/Framework/CommandHandler.cs
Labels: commands

IssuerScope cleanup in MainCommandModule
  Obsidian/Commands/MainCommandModule.cs
Labels: commands

Add DefaultIssuerScope constant
  Obsidian/Commands/Framework/CommandHandler.cs
Labels: commands

Minor refactor
  Obsidian/Server.cs
  Obsidian/Utilities/Extensions.Numerics.cs
  Obsidian/WorldData/Region.cs
Labels: none

Create OpenBookPacket.cs
  Obsidian/Net/Packets/Play/Clientbound/OpenBookPacket.cs
Labels: none

Add IContainer and update Inventory class
  Obsidian.API/_Interfaces/IContainer.cs
  Obsidian.API/_Types/Inventory/Inventory.cs
Labels: api

Remove regions and enable commands from console and some related fixes (#152)
  Obsidian.API/_Attributes/RequirePermissionAttribute.cs
  Obsidian/Commands/Framework/CommandHandler.cs
  Obsidian/Commands/Framework/Entities/Command.cs
  Obsidian/Commands/MainCommandModule.cs
Labels: api, commands

Update IContainer and fix up inventory stuff
  Obsidian.API/Containers/Inventory.cs
  Obsidian.API/_Interfaces/IContainer.cs
  Obsidian/Client.cs
  Obsidian/Entities/Player.cs
  Obsidian/Net/Packets/Play/Serverbound/ClickWindowPacket.cs
Labels: api

Refactors
  Obsidian.API/Containers/Inventory.cs
  Obsidian.API/_Enums/InventoryType.cs
  Obsidian.API/_Interfaces/IContainer.cs
  Obsidian.API/_Interfaces/IPlayer.cs
  Obsidian.API/_Interfaces/ITileEntity.cs
  Obsidian/Client.cs
  Obsidian/Entities/Player.cs
  Obsidian/Net/Packets/Play/Clientbound/OpenWindow.cs
  Obsidian/Net/Packets/Play/CloseWindow.cs
  Obsidian/Net/Packets/Play/Serverbound/ClickWindowPacket.cs
  Obsidian/Net/Packets/Play/Serverbound/CreativeInventoryAction.cs
  Obsidian/WorldData/TileEntity.cs
Labels: api

Add other containers and fixed up Server.Events.cs
  Obsidian.API/Containers/AnvilContainer.cs
  Obsidian.API/Containers/BrewingStand.cs
  Obsidian.API/Containers/CartographyTable.cs
  Obsidian.API/Containers/CraftingTable.cs
  Obsidian.API/Containers/EnchantmentTable.cs
  Obsidian.API/Containers/Grindstone.cs
  Obsidian.API/Containers/Loom.cs
  Obsidian.API/Containers/SmeltingContainer.cs
  Obsidian.API/Containers/Stonecutter.cs
  Obsidian/Server.Events.cs
  Obsidian/Server.cs
Labels: api

.github/labeler.yml:

github-actions:
  - .github/workflows/*
  - .github/workflows/**/*

api:
  - Obsidian.API/*
  - Obsidian.API/**/*
  
commands:
  - Obsidian/Commands/*
  - Obsidian/Commands/**/*
  - Obsidian.API/_Attributes/*
  
nbt:
  - Obsidian.Nbt/*
  - Obsidian.Nbt/**/*

plugins:
  - Obsidian/Plugins/*
  - Obsidian/Plugins/**/*
  - Obsidian.API/Plugins/*
  - SamplePlugin/*

source-generation:
  - Obsidian.SourceGenerators/*
  - Obsidian.SourceGenerators/**/*

tests:
  - Obsidian.Tests/*
  - Obsidian.Tests/**/*

world generation:
  - Obsidian/WorldData/Generators
