Repository ObsidianMC/Obsidian, changes with the labels that .github/labeler.yml gives for each.
All labels: github-actions, api, commands, nbt, plugins, source-generation, tests, world generation

.github/labeler.yml:

github-actions:
  - .github/workflows/*
  - .github/workflows/**/*

api:
  - Obsidian.API/*
  - Obsidian.API/**/*
  
commands:
  - Obsidian/Commands/*
  - Obsidian/Commands/**/*
  - Obsidian.API/_Attributes/*
  
nbt:
  - Obsidian.Nbt/*
  - Obsidian.Nbt/**/*

plugins:
  - Obsidian/Plugins/*
  - Obsidian/Plugins/**/*
  - Obsidian.API/Plugins/*
  - SamplePlugin/*

source-generation:
  - Obsidian.SourceGenerators/*
  - Obsidian.SourceGenerators/**/*

tests:
  - Obsidian.Tests/*
  - Obsidian.Tests/**/*

world generation:
  - Obsidian/WorldData/Generators

Good 'nuf
  Obsidian.API/Noise/Interpolate.cs
  Obsidian.API/Noise/VoronoiBiomes.cs
  Obsidian.Tests/Noise.cs
  Obsidian/Net/Packets/Play/KeepAlive.cs
  Obsidian/WorldData/Generators/Overworld/BiomeNoise/VoronoiBiomeNoise.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/MushroomFieldsDecorator.cs
  Obsidian/WorldData/World.cs
Labels: api, tests

This is working well
  Obsidian.API/Noise/TerrainSelect.cs
  Obsidian.API/Noise/VoronoiBiomes.cs
  Obsidian/WorldData/Generators/Overworld/BiomeNoise/VoronoiBiomeNoise.cs
  Obsidian/WorldData/Generators/Overworld/ChunkBiome.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/OverworldTerrain.cs
  Obsidian/WorldData/World.cs
Labels: api

A few gameplay tweaks
  Obsidian.API/Noise/VoronoiBiomes.cs
  Obsidian/Client.cs
  Obsidian/WorldData/Generators/Overworld/BiomeNoise/VoronoiBiomeNoise.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/OverworldTerrain.cs
  Obsidian/WorldData/World.cs
Labels: api

Fix a few bugs
  Obsidian.API/_Types/Inventory/Inventory.cs
  Obsidian/WorldData/Generators/OverworldGenerator.cs
  Obsidian/WorldData/World.cs
Labels: api

Feature/more biomes and noise (#134)
  Obsidian.API/Noise/Interpolate.cs
  Obsidian.API/Noise/TerrainSelect.cs
  Obsidian.API/Noise/TransitionMap.cs
  Obsidian.API/Noise/VoronoiBiomes.cs
  Obsidian.API/_Types/Inventory/Inventory.cs
  Obsidian.Tests/Noise.cs
  Obsidian/Client.cs
  Obsidian/Net/Packets/Play/Clientbound/JoinGame.cs
  Obsidian/Net/Packets/Play/KeepAlive.cs
  Obsidian/Net/Packets/Play/Serverbound/ClientSettings.cs
  Obsidian/WorldData/Generators/Overworld/BiomeNoise/VoronoiBiomeNoise.cs
  Obsidian/WorldData/Generators/Overworld/Carvers/BaseCarver.cs
  Obsidian/WorldData/Generators/Overworld/Carvers/CaveCarver.cs
  Obsidian/WorldData/Generators/Overworld/ChunkBiome.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/DecoratorFeatures.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/DeepOceanDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/DeepWarmOceanDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/ForestDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/GiantTreeTaigaDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/MushroomFieldsDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/OceanDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/OverworldDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Features/Trees/LargeOakTree.cs
  Obsidian/WorldData/Generators/Overworld/Features/Trees/LargeSpruceTree.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/BadlandsTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/BaseTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/DeepOceanTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/HillsTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/MountainsTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/OverworldTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/PlainsTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/RiverTerrain.cs
  Obsidian/WorldData/Generators/OverworldGenerator.cs
  Obsidian/WorldData/World.cs
Labels: api, tests

bug: repeating patterns in oceans
  Obsidian/WorldData/Generators/Overworld/Decorators/OceanDecorator.cs
Labels: none

Cleanup player class/interface
  Obsidian.API/_Interfaces/IPlayer.cs
  Obsidian/Commands/MainCommandModule.cs
  Obsidian/Entities/Player.cs
  Obsidian/Server.cs
Labels: api, commands

Fix errors
  Obsidian.API/_Attributes/RequirePermissionAttribute.cs
  Obsidian/Commands/MainCommandModule.cs
Labels: api, commands

Checkpoint
  Benchmark/Benchmark.csproj
  Benchmark/Benchmarks.cs
  Benchmark/Program.cs
  Obsidian.sln
  Obsidian/Obsidian.csproj
  Obsidian/WorldData/Generators/Modules/Add.cs
  Obsidian/WorldData/Generators/Modules/Billow.cs
  Obsidian/WorldData/Generators/Modules/Cache.cs
  Obsidian/WorldData/Generators/Modules/Checkerboard.cs
  Obsidian/WorldData/Generators/Modules/Clamp.cs
  Obsidian/WorldData/Generators/Modules/CombineModule.cs
  Obsidian/WorldData/Generators/Modules/CompiledTerrace.cs
  Obsidian/WorldData/Generators/Modules/Constant.cs
  Obsidian/WorldData/Generators/Modules/MathHelper.cs
  Obsidian/WorldData/Generators/Modules/Max.cs
  Obsidian/WorldData/Generators/Modules/Min.cs
  Obsidian/WorldData/Generators/Modules/Module.cs
  Obsidian/WorldData/Generators/Modules/ModuleCompilationException.cs
  Obsidian/WorldData/Generators/Modules/ModulesHelper.cs
  Obsidian/WorldData/Generators/Modules/Multiply.cs
  Obsidian/WorldData/Generators/Modules/NoiseHelper.cs
  Obsidian/WorldData/Generators/Modules/RidgedMulti.cs
  Obsidian/WorldData/Generators/Modules/ScaleBias.cs
  Obsidian/WorldData/Generators/Modules/ScalePoint.cs
  Obsidian/WorldData/Generators/Modules/Select.cs
  Obsidian/WorldData/Generators/Modules/StatefulModule.cs
  Obsidian/WorldData/Generators/Modules/Terrace.cs
  Obsidian/WorldData/Generators/Modules/Test.cs
  Obsidian/WorldData/Generators/Modules/TransformModule.cs
Labels: none

Push current work
  Obsidian.Nbt/NbtReader.cs
  Obsidian.Nbt/NbtWriter.cs
  Obsidian/Client.cs
  Obsidian/Entities/Player.cs
  Obsidian/Server.cs
  Obsidian/WorldData/World.cs
Labels: nbt

Changes to make sure to properly add values to lists
  Obsidian.Nbt/NbtWriter.Writing.cs
  Obsidian.Nbt/NbtWriter.cs
Labels: nbt

Update Player.cs
  Obsidian/Entities/Player.cs
Labels: none

Make sure to load data before sending join game packet
  Obsidian/Client.cs
Labels: none

Interim
  Obsidian.API/_Types/EntityType.cs
  Obsidian/Entities/FallingBlock.cs
  Obsidian/Utilities/Extensions.cs
  Obsidian/WorldData/World.cs
Labels: api

fix(chunkNbt): fix issue with regions not serializing chunks correctly)
  Obsidian/WorldData/Region.cs
Labels: none

This changes up chunk nbt serialization and file format to be exactly like the official mca implementation
  Obsidian/WorldData/Region.cs
Labels: none

Fix typo
  Obsidian.API/_Interfaces/IPlayer.cs
  Obsidian/Entities/Player.cs
Labels: api

Update Player.cs
  Obsidian/Entities/Player.cs
Labels: none

interim
  Obsidian/Entities/FallingBlock.cs
  Obsidian/WorldData/World.cs
Labels: none

I think it works
  Obsidian/Entities/FallingBlock.cs
  Obsidian/Server.cs
  Obsidian/WorldData/World.cs
Labels: none

Prep code review
  Obsidian.API/_Types/EntityType.cs
  Obsidian/Entities/FallingBlock.cs
  Obsidian/WorldData/World.cs
Labels: api

Fixed region GetChunkFromNbt throwing exception for invalid tag
  Obsidian/WorldData/Region.cs
Labels: none

Update Program.cs
  Obsidian/Program.cs
Labels: none

Seems to work
  Obsidian.API/_Enums/GravityAffected.cs
  Obsidian/Block.cs
  Obsidian/Entities/FallingBlock.cs
  Obsidian/Net/Packets/Play/Serverbound/PlayerBlockPlacement.cs
  Obsidian/Net/Packets/Play/Serverbound/PlayerDigging.cs
  Obsidian/Server.cs
  Obsidian/WorldData/Region.cs
  Obsidian/WorldData/World.cs
Labels: api

prep code review
  Obsidian/Entities/FallingBlock.cs
  Obsidian/Net/Packets/Play/Serverbound/PlayerDigging.cs
  Obsidian/WorldData/World.cs
Labels: none

Personal code review
  Obsidian/Net/Packets/Play/Serverbound/PlayerDigging.cs
  Obsidian/Server.cs
Labels: none

Make current slot return hotbar slot number instead of the inventory slot number
  Obsidian.API/_Interfaces/IPlayer.cs
  Obsidian/Entities/Player.cs
  Obsidian/Net/Packets/Play/Serverbound/CreativeInventoryAction.cs
  Obsidian/Net/Packets/Play/Serverbound/PlayerBlockPlacement.cs
  Obsidian/Net/Packets/Play/Serverbound/ServerHeldItemChange.cs
  Obsidian/Server.cs
Labels: api

Inventory is now persistent
  Obsidian.Nbt/InternalsVisibleTo.cs
  Obsidian.Nbt/NbtWriter.Writing.cs
  Obsidian/Client.cs
  Obsidian/Entities/Player.cs
Labels: nbt

Update MinecraftStream.Writing.cs
  Obsidian/Net/MinecraftStream.Writing.cs
Labels: none

Update Player.cs
  Obsidian/Entities/Player.cs
Labels: none

Implement URL encoding for Mojang API requests.
  Obsidian/Utilities/Mojang/MinecraftAPI.cs
Labels: none

Oops
  Obsidian/Net/Packets/Play/Serverbound/PlayerDigging.cs
Labels: none

Feature/falling sand (#136)
  Obsidian.API/_Enums/GravityAffected.cs
  Obsidian/Block.cs
  Obsidian/Entities/FallingBlock.cs
  Obsidian/Net/Packets/Play/Serverbound/PlayerBlockPlacement.cs
  Obsidian/Net/Packets/Play/Serverbound/PlayerDigging.cs
  Obsidian/Server.cs
  Obsidian/Utilities/Extensions.cs
  Obsidian/WorldData/Region.cs
  Obsidian/WorldData/World.cs
Labels: api

interim
  Obsidian/Block.cs
  Obsidian/Net/Packets/Play/Serverbound/PlayerBlockPlacement.cs
  Obsidian/WorldData/BlockUpdates.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/MountainsDecorator.cs
  Obsidian/WorldData/Region.cs
  Obsidian/WorldData/World.cs
Labels: none

Fix recursion
  Obsidian/WorldData/BlockUpdates.cs
  Obsidian/WorldData/World.cs
Labels: none

Interim
  Obsidian/Server.cs
  Obsidian/WorldData/BlockUpdates.cs
Labels: none

Interim
  Obsidian/Block.cs
  Obsidian/Entities/Player.cs
  Obsidian/Net/Packets/Play/Serverbound/PlayerBlockPlacement.cs
  Obsidian/Net/Packets/Play/Serverbound/PlayerDigging.cs
  Obsidian/WorldData/BlockUpdates.cs
  Obsidian/WorldData/Region.cs
  Obsidian/WorldData/World.cs
Labels: none

Fix issue where players are unable to reconnect after d/c
  Obsidian/Entities/Player.cs
Labels: none

Fixes recipe problems
  Obsidian/Entities/Player.cs
  Obsidian/Net/MinecraftStream.Writing.cs
  Obsidian/Utilities/Registry/Registry.cs
Labels: none

Wrap up an initial impl of Liquid Physics. Still to do, things like lava+water=cobblestone
  Obsidian/Block.cs
  Obsidian/Client.cs
  Obsidian/Net/Packets/Play/Serverbound/PlayerBlockPlacement.cs
  Obsidian/Net/Packets/Play/Serverbound/PlayerDigging.cs
  Obsidian/Server.cs
  Obsidian/WorldData/BlockUpdates.cs
  Obsidian/WorldData/Region.cs
  Obsidian/WorldData/World.cs
Labels: none
