Repository ObsidianMC/Obsidian, changes with the labels that .github/labeler.yml gives for each.
All labels: github-actions, api, commands, nbt, plugins, source-generation, tests, world generation

.github/labeler.yml:

github-actions:
  - .github/workflows/*
  - .github/workflows/**/*

api:
  - Obsidian.API/*
  - Obsidian.API/**/*
  
commands:
  - Obsidian/Commands/*
  - Obsidian/Commands/**/*
  - Obsidian.API/_Attributes/*
  
nbt:
  - Obsidian.Nbt/*
  - Obsidian.Nbt/**/*

plugins:
  - Obsidian/Plugins/*
  - Obsidian/Plugins/**/*
  - Obsidian.API/Plugins/*
  - SamplePlugin/*

source-generation:
  - Obsidian.SourceGenerators/*
  - Obsidian.SourceGenerators/**/*

tests:
  - Obsidian.Tests/*
  - Obsidian.Tests/**/*

world generation:
  - Obsidian/WorldData/Generators

Refactors (more info in description)
  Obsidian.API/Containers/AbstractContainer.cs
  Obsidian.API/Containers/AnvilContainer.cs
  Obsidian.API/Containers/BrewingStand.cs
  Obsidian.API/Containers/CartographyTable.cs
  Obsidian.API/Containers/CraftingTable.cs
  Obsidian.API/Containers/EnchantmentTable.cs
  Obsidian.API/Containers/Grindstone.cs
  Obsidian.API/Containers/Inventory.cs
  Obsidian.API/Containers/Loom.cs
  Obsidian.API/Containers/SmeltingContainer.cs
  Obsidian.API/Containers/Stonecutter.cs
  Obsidian.API/Events/ContainerClickEventArgs.cs
  Obsidian.API/_Enums/InventoryType.cs
  Obsidian.API/_Interfaces/IContainer.cs
  Obsidian.API/_Interfaces/IPlayer.cs
  Obsidian/Entities/Player.cs
  Obsidian/Events/MinecraftEventHandler.cs
  Obsidian/Net/Packets/Play/Clientbound/OpenWindow.cs
  Obsidian/Net/Packets/Play/Serverbound/ClickWindowPacket.cs
  Obsidian/Net/Packets/Play/Serverbound/CreativeInventoryAction.cs
  Obsidian/Utilities/Extensions.cs
Labels: api

Randomize seed for new server
  Obsidian/Utilities/Config.cs
Labels: none

Add Config options for querying server and anonymous online list, implement disabled querying.
  Obsidian/Client.cs
  Obsidian/Utilities/Config.cs
Labels: none

Clear player sample if anonymousonlinelist is enabled.
  Obsidian/Client.cs
Labels: none

Add message informing of querying disabled (dunno, seemed informative)
  Obsidian/Client.cs
Labels: none

Update README.md
  README.md
Labels: none

Make default player list footer a bit more tame.
  Obsidian/Utilities/Config.cs
Labels: none

Create dotnet.yml
  .github/workflows/dotnet.yml
Labels: github-actions

Update dotnet.yml
  .github/workflows/dotnet.yml
Labels: github-actions

Update dotnet.yml
  .github/workflows/dotnet.yml
Labels: github-actions

Update dotnet.yml
  .github/workflows/dotnet.yml
Labels: github-actions

Last change to Action: .NET Build
  .github/workflows/dotnet.yml
Labels: github-actions

[CI Skip] Add info about nightly builds to README.
  README.md
Labels: none

[ci skip] readme update again. yep.
  README.md
Labels: none

Add RentedArray.cs
  Obsidian/Utilities/RentedArray.cs
Labels: none

Update MinecraftStream.Reading.cs to use RentedArray.cs
  Obsidian/Net/MinecraftStream.Reading.cs
Labels: none

Update MinecraftStream.Writing.cs to use RentedArray.cs
  Obsidian/Net/MinecraftStream.Writing.cs
Labels: none

Update Inventory.cs
  Obsidian.API/Containers/Inventory.cs
Labels: api

Rename Inventory to Container and removed CachedWindows property
  Obsidian.API/Containers/Container.cs
  Obsidian.API/_Interfaces/IPlayer.cs
  Obsidian/Entities/Player.cs
  Obsidian/Server.Events.cs
  Obsidian/Server.cs
Labels: api

Remove InventoryId from BlockMeta
  Obsidian/Blocks/BlockMeta.cs
  Obsidian/Blocks/BlockMetaBuilder.cs
Labels: none

Refactors
  Obsidian/Server.Events.cs
  Obsidian/Utilities/Extensions.Nbt.cs
  Obsidian/Utilities/Extensions.cs
  Obsidian/WorldData/Chunk.cs
  Obsidian/WorldData/Region.cs
  Obsidian/WorldData/World.cs
Labels: none

Simplify Permission
  Obsidian/Entities/Player.cs
  Obsidian/Utilities/Permission.cs
Labels: none

Make object initialization consistant
  Obsidian.API/_Types/ChatMessage.cs
  Obsidian/Client.cs
  Obsidian/Commands/MainCommandModule.cs
  Obsidian/Utilities/OperatorList.cs
Labels: api, commands

Exclude file that isn't there, shouldn't be there and won't ever be there.
  Obsidian/Obsidian.csproj
Labels: none

Changed Sample Plugin build path
  SamplePlugin/SamplePlugin.csproj
Labels: plugins

Remove multiserver functionality.
  Obsidian/Client.cs
  Obsidian/Globals.cs
  Obsidian/Plugins/Services/LoggerService.cs
  Obsidian/Program.cs
  Obsidian/Server.cs
  Obsidian/Utilities/ClientHandler.cs
  Obsidian/Utilities/Config.cs
  Obsidian/Utilities/GlobalConfig.cs
Labels: plugins

Update ServerHeldItemChange.cs
  Obsidian/Net/Packets/Play/Serverbound/ServerHeldItemChange.cs
Labels: none

Update Sounds.cs
  Obsidian.API/_Enums/Sounds.cs
Labels: api

Update ITileEntity.BlockPosition to not be nullable
  Obsidian.API/Containers/AnvilContainer.cs
  Obsidian.API/Containers/BrewingStand.cs
  Obsidian.API/Containers/Container.cs
  Obsidian.API/Containers/EnchantmentTable.cs
  Obsidian.API/Containers/SmeltingContainer.cs
  Obsidian.API/_Interfaces/ITileEntity.cs
  Obsidian/Net/Packets/Play/CloseWindow.cs
Labels: api

Move Slot property from ItemMeta to ItemStack
  Obsidian.API/_Types/Inventory/ItemMeta.cs
  Obsidian.API/_Types/Inventory/ItemMetaBuilder.cs
  Obsidian.API/_Types/Inventory/ItemStack.cs
  Obsidian/Entities/Player.cs
  Obsidian/Net/MinecraftStream.Reading.cs
Labels: api

Refactors
  Obsidian.API/Containers/AbstractContainer.cs
  Obsidian/Net/Packets/Play/Serverbound/CreativeInventoryAction.cs
  Obsidian/Net/Packets/Play/Serverbound/PlayerBlockPlacement.cs
Labels: api

Clean up tile entity related things
  Obsidian/Net/Packets/Play/Serverbound/ClickWindowPacket.cs
  Obsidian/Server.Events.cs
  Obsidian/Utilities/Extensions.Nbt.cs
  Obsidian/WorldData/Chunk.cs
  Obsidian/WorldData/World.cs
Labels: none

Refactors
  Obsidian.API/Containers/AnvilContainer.cs
  Obsidian.API/Containers/BaseContainer.cs
  Obsidian.API/Containers/BrewingStand.cs
  Obsidian.API/Containers/CartographyTable.cs
  Obsidian.API/Containers/Container.cs
  Obsidian.API/Containers/CraftingTable.cs
  Obsidian.API/Containers/EnchantmentTable.cs
  Obsidian.API/Containers/Grindstone.cs
  Obsidian.API/Containers/Loom.cs
  Obsidian.API/Containers/SmeltingContainer.cs
  Obsidian.API/Containers/Stonecutter.cs
  Obsidian.API/Events/ContainerClickEventArgs.cs
  Obsidian.API/_Interfaces/IPlayer.cs
  Obsidian/Entities/Player.cs
  Obsidian/Net/Packets/Play/Clientbound/OpenWindow.cs
  Obsidian/Net/Packets/Play/Serverbound/ClickWindowPacket.cs
  Obsidian/Server.Events.cs
Labels: api

Return false if item is already null
  Obsidian.API/Containers/BaseContainer.cs
Labels: api

Use the right RemoveItem method
  Obsidian/Net/Packets/Play/Serverbound/PlayerBlockPlacement.cs
  Obsidian/Server.cs
Labels: none

Hide base member with 'new'
  Obsidian.API/_Interfaces/ILiving.cs
  Obsidian.API/_Interfaces/IPlayer.cs
Labels: api

Added nullable to base type and removed nullable from equals method
  Obsidian.API/Crafting/IRecipe.cs
  Obsidian.API/_Types/Inventory/ItemStack.cs
Labels: api

Added full stop to some summaries
  Obsidian/Entities/Player.cs
  Obsidian/Events/EventArgs/BasePacketEventArgs.cs
  Obsidian/NativeMethods.cs
  Obsidian/Net/Packets/Play/Clientbound/BlockBreakAnimation.cs
Labels: none

nullability of reference types warning
  Obsidian.API/_Types/Inventory/ItemMeta.cs
  Obsidian.API/_Types/Inventory/ItemStack.cs
Labels: api

Added constructors to resolve non-null property part 1
  Obsidian.API/Crafting/Builders/CuttingRecipeBuilder.cs
  Obsidian.API/Crafting/Builders/ShapedRecipeBuilder.cs
  Obsidian.API/Crafting/Builders/ShapelessRecipeBuilder.cs
  Obsidian.API/Crafting/Builders/SmeltingRecipeBuilder.cs
  Obsidian.API/Crafting/Builders/SmithingRecipeBuilder.cs
  Obsidian.API/Crafting/CuttingRecipe.cs
  Obsidian.API/Crafting/ShapedRecipe.cs
  Obsidian.API/Crafting/ShapelessRecipe.cs
  Obsidian.API/Crafting/SmeltingRecipe.cs
  Obsidian.API/Crafting/SmithingRecipe.cs
  Obsidian.API/Events/BaseMinecraftEventArgs.cs
Labels: api
