Repository ObsidianMC/Obsidian, changes with the labels that .github/labeler.yml gives for each.
All labels: github-actions, api, commands, nbt, plugins, source-generation, tests, world generation

Fix commands
  Obsidian/Commands/Framework/Entities/Command.cs
Labels: commands

fix: Resolve water drying up causing duplicate block updates
  Obsidian/WorldData/Region.cs
  Obsidian/WorldData/World.cs
Labels: none

Whoopsie doopsie, tps fixie
  Obsidian/Server.cs
  Obsidian/Utilities/TpsMeasure.cs
Labels: none

Fix region ticks timing
  Obsidian/WorldData/Region.cs
Labels: none

Microscopic refactor
  Obsidian/WorldData/Region.cs
Labels: none

Remove obsolete code
  Obsidian/WorldData/World.cs
Labels: none

Extensions refactor
  Obsidian/Server.cs
  Obsidian/Utilities/Extensions.StringManipulation.cs
  Obsidian/Utilities/Extensions.cs
Labels: none

Update blocks and items
  Obsidian.API/_Enums/Material.cs
  Obsidian.API/_Types/Block.cs
  Obsidian/Assets/blocks.json
  Obsidian/Assets/items.json
  Obsidian/Utilities/Registry/Registry.cs
Labels: api

Update entity types
  Obsidian.API/_Enums/EntityType.cs
Labels: api

1.17.1 recipes
  Obsidian/Assets/recipes.json
Labels: none

Add 1.17 tags and scripts to generate tags and recipes
  Obsidian/Assets/tags.json
  Obsidian/scripts/process_recipes.py
  Obsidian/scripts/process_tags.py
Labels: none

Update ids for packets
  Obsidian/Net/Packets/Login/Disconnect.cs
  Obsidian/Net/Packets/Play/Clientbound/Explosion.cs
  Obsidian/Net/Packets/Play/Clientbound/UpdateLight.cs
Labels: none

Updates tags and fix blocks tuff
  Obsidian.API/_Enums/GameEvents.cs
  Obsidian/Net/MinecraftStream.Writing.cs
  Obsidian/Net/Packets/Play/Clientbound/TagsPacket.cs
  Obsidian/Utilities/Registry/Registry.cs
Labels: api

Update some other packets
  Obsidian/Net/Packets/Play/Clientbound/Explosion.cs
  Obsidian/Net/Packets/Play/PluginMessage.cs
  Obsidian/Net/Packets/Play/Serverbound/PickItem.cs
Labels: none

Minor refactors
  Obsidian/Client.cs
  Obsidian/Server.cs
  Obsidian/Utilities/Extensions.cs
Labels: none

Update tags and fixed script
  Obsidian/Assets/tags.json
  Obsidian/Utilities/Registry/Registry.cs
  Obsidian/scripts/process_tags.py
Labels: none

Update SpawnPosition.cs
  Obsidian/Net/Packets/Play/Clientbound/SpawnPosition.cs
Labels: none

Try writing the new primary bitmask?
  Obsidian/Net/Packets/Play/Clientbound/ChunkDataPacket.cs
Labels: none

Fix errors
  Obsidian/Net/Packets/Play/Clientbound/DestroyEntities.cs
  Obsidian/Server.cs
Labels: none

Update Client.cs
  Obsidian/Client.cs
Labels: none

Update window items
  Obsidian/Client.cs
  Obsidian/Net/Packets/Play/Clientbound/WindowItems.cs
Labels: none

Fix chunk data packets (kinda)
  Obsidian/ChunkData/ChunkSection.cs
  Obsidian/Net/Packets/Play/Clientbound/ChunkDataPacket.cs
Labels: none

Fix keepalives
  Obsidian/Client.cs
  Obsidian/Net/Packets/Play/KeepAlive.cs
  Obsidian/Net/Packets/Play/Serverbound/ServerboundKeepAlive.cs
  Obsidian/Utilities/ClientHandler.cs
Labels: none

Update ChunkDataPacket.cs
  Obsidian/Net/Packets/Play/Clientbound/ChunkDataPacket.cs
Labels: none

Update ClickWindow.cs
  Obsidian/Net/Packets/Play/Serverbound/ClickWindow.cs
Labels: none

Update SetSlot.cs
  Obsidian/Net/Packets/Play/Clientbound/SetSlot.cs
Labels: none

Update SetSlot.cs
  Obsidian/Net/Packets/Play/Clientbound/SetSlot.cs
Labels: none

Fixed relative location parser
  Obsidian/Commands/Parsers/LocationTypeParser.cs
Labels: commands

Making this cleaner
  Obsidian/Commands/Parsers/LocationTypeParser.cs
Labels: commands

c l e a n b o y
  Obsidian/Commands/Parsers/LocationTypeParser.cs
Labels: commands

Fix item entity not being created when breaking a block
  Obsidian/Entities/ItemEntity.cs
Labels: none

Fixed relative location parser & reformat (replaced foreach with for) (#148)
  Obsidian/Commands/Parsers/LocationTypeParser.cs
Labels: commands

Update comments
  Obsidian/Client.cs
Labels: none

Make sure to send declare commands packets
  Obsidian/Client.cs
Labels: none

Update biomes and stuff related to it
  Obsidian.API/Noise/VoronoiBiomes.cs
  Obsidian.API/_Enums/Biomes.cs
  Obsidian/ChunkData/BiomeContainer.cs
  Obsidian/Utilities/Converters/DefaultObjectConverter.cs
  Obsidian/Utilities/Registry/Codecs/Biomes/BiomeElement.cs
  Obsidian/Utilities/Registry/Codecs/Biomes/BiomeMusicEffect.cs
  Obsidian/Utilities/Registry/Codecs/Biomes/BiomeParticle.cs
  Obsidian/WorldData/Generators/Overworld/ChunkBiome.cs
Labels: api

Update assets
  Obsidian/Assets/biome_codec.json
  Obsidian/Assets/biome_dimension_codec.json
  Obsidian/Assets/default_dimensions.json
  Obsidian/Obsidian.csproj
  Obsidian/Utilities/Registry/Codecs/Dimensions/DimensionElement.cs
  Obsidian/Utilities/Registry/Registry.cs
Labels: none

Use last position instead of world spawn
  Obsidian/Client.cs
Labels: none

More particle stuff
  Obsidian.API/Particles/BlockParticle.cs
  Obsidian.API/Particles/DustColorTransitionParticle.cs
  Obsidian.API/Particles/DustParticle.cs
  Obsidian.API/Particles/FallingDustParticle.cs
  Obsidian.API/Particles/ItemParticle.cs
  Obsidian.API/Particles/VibrationParticle.cs
  Obsidian.API/_Enums/ParticleType.cs
  Obsidian.API/_Interfaces/IParticle.cs
  Obsidian/Entities/AreaEffectCloud.cs
  Obsidian/Entities/Entity.cs
Labels: api

Update VoronoiBiomes.cs
  Obsidian.API/Noise/VoronoiBiomes.cs
Labels: api

Update animation things
  Obsidian/Entities/Entity.cs
  Obsidian/Net/Packets/Play/Animation.cs
  Obsidian/Net/Packets/Play/AnimationPacket.cs
  Obsidian/Net/Packets/Play/Clientbound/EntityAnimationPacket.cs
  Obsidian/Utilities/ClientHandler.cs
Labels: none

.github/labeler.yml:

github-actions:
  - .github/workflows/*
  - .github/workflows/**/*

api:
  - Obsidian.API/*
  - Obsidian.API/**/*
  
commands:
  - Obsidian/Commands/*
  - Obsidian/Commands/**/*
  - Obsidian.API/_Attributes/*
  
nbt:
  - Obsidian.Nbt/*
  - Obsidian.Nbt/**/*

plugins:
  - Obsidian/Plugins/*
  - Obsidian/Plugins/**/*
  - Obsidian.API/Plugins/*
  - SamplePlugin/*

source-generation:
  - Obsidian.SourceGenerators/*
  - Obsidian.SourceGenerators/**/*

tests:
  - Obsidian.Tests/*
  - Obsidian.Tests/**/*

world generation:
  - Obsidian/WorldData/Generators
