Repository ObsidianMC/Obsidian, changes with the labels that .github/labeler.yml gives for each.
All labels: github-actions, api, commands, nbt, plugins, source-generation, tests, world generation

.github/labeler.yml:

github-actions:
  - .github/workflows/*
  - .github/workflows/**/*

api:
  - Obsidian.API/*
  - Obsidian.API/**/*
  
commands:
  - Obsidian/Commands/*
  - Obsidian/Commands/**/*
  - Obsidian.API/_Attributes/*
  
nbt:
  - Obsidian.Nbt/*
  - Obsidian.Nbt/**/*

plugins:
  - Obsidian/Plugins/*
  - Obsidian/Plugins/**/*
  - Obsidian.API/Plugins/*
  - SamplePlugin/*

source-generation:
  - Obsidian.SourceGenerators/*
  - Obsidian.SourceGenerators/**/*

tests:
  - Obsidian.Tests/*
  - Obsidian.Tests/**/*

world generation:
  - Obsidian/WorldData/Generators

Some compiler warning fixes
  Obsidian.API/Noise/BitShiftInput.cs
  Obsidian.API/Noise/Blend.cs
  Obsidian.API/Plugins/Services/IO/IFileService.cs
  Obsidian.API/_Types/ClickComponent.cs
  Obsidian.API/_Types/HoverComponent.cs
  Obsidian/Commands/MainCommandModule.cs
  Obsidian/WorldData/BlockUpdates.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/OverworldTerrain.cs
Labels: api, commands

Fix for constructure initiation
  Obsidian.API/Noise/Blur.cs
  Obsidian.API/Noise/Interpolate.cs
  Obsidian.API/_Types/ClickComponent.cs
  Obsidian.API/_Types/HoverComponent.cs
  Obsidian/Commands/MainCommandModule.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/OverworldTerrain.cs
Labels: api, commands

Addressed couple hunderd warnings, 3692 relate to XML out of the 3708 total. 16 are other warnings.
  Obsidian.API/Noise/Blur.cs
  Obsidian.API/Noise/FuncRunner.cs
  Obsidian.API/Noise/FuncSelector.cs
  Obsidian.API/Noise/Interpolate.cs
  Obsidian.API/Noise/Polariaze.cs
  Obsidian.API/Noise/TerrainSelect.cs
  Obsidian.API/Noise/TransitionMap.cs
  Obsidian.API/Noise/Zoom.cs
  Obsidian.API/Particles/ItemParticle.cs
  Obsidian.API/Plugins/DependencyAttribute.cs
  Obsidian.API/Plugins/PluginAttribute.cs
  Obsidian.API/Plugins/PluginBase.cs
  Obsidian.API/Plugins/PluginWrapper.cs
  Obsidian.API/Plugins/Services/IDiagnoser.cs
  Obsidian.API/Plugins/Services/IFileReader.cs
  Obsidian.API/Plugins/Services/IFileWriter.cs
  Obsidian.API/Plugins/Services/ILogger.cs
  Obsidian.API/Plugins/Services/IO/IFileService.cs
  Obsidian.API/_Attributes/RequirePermissionAttribute.cs
  Obsidian.API/_Types/Advancements/Advancement.cs
  Obsidian.API/_Types/Advancements/AdvancementDisplay.cs
  Obsidian.API/_Types/Advancements/AdvancementReward.cs
  Obsidian.API/_Types/ChatMessage.cs
  Obsidian.API/_Types/Inventory/ItemMetaBuilder.cs
  Obsidian.API/_Types/Score.cs
  Obsidian.API/_Types/ScoreboardObjective.cs
  Obsidian.Tests/Noise.cs
  Obsidian/Plugins/PluginContainer.cs
  Obsidian/Scoreboard.cs
  Obsidian/Utilities/RentedArray.cs
  Obsidian/WorldData/BlockUpdates.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/OverworldTerrain.cs
  Obsidian/WorldData/RegionFile.cs
  Obsidian/WorldData/World.cs
  SamplePlugin/SamplePlugin.cs
Labels: api, commands, plugins, tests

PR Comments
  Obsidian.API/Plugins/PluginAttribute.cs
  Obsidian.API/Plugins/PluginBase.cs
  Obsidian.API/Plugins/Services/IDiagnoser.cs
  Obsidian.API/Plugins/Services/ILogger.cs
  Obsidian.API/_Attributes/RequirePermissionAttribute.cs
  Obsidian.API/_Types/Block.cs
  Obsidian.API/_Types/Inventory/ItemMetaBuilder.cs
  Obsidian/Plugins/Services/DiagnoserService.cs
  Obsidian/Utilities/RentedArray.cs
  Obsidian/WorldData/BlockUpdates.cs
  Obsidian/WorldData/RegionFile.cs
  Obsidian/WorldData/World.cs
Labels: api, commands, plugins

Changed Name in ItemMetaBuilder back to normal (Warning will return)
  Obsidian.API/_Types/Inventory/ItemMetaBuilder.cs
Labels: api

Make default server path string.empty.
  Obsidian/Program.cs
Labels: none

Implement Basic Version of PaperMC Patch 0284, preventing Players from moving into unloaded Chunks
  Obsidian/Entities/Entity.cs
Labels: none

Further PR Comments
  Obsidian.API/Plugins/PluginBase.cs
  Obsidian.Tests/Noise.cs
  Obsidian/Obsidian.csproj
  Obsidian/Utilities/RentedArray.cs
  Obsidian/WorldData/World.cs
  SamplePlugin/SamplePlugin.cs
Labels: api, plugins, tests

Fix Build Errors
  Obsidian/Entities/Entity.cs
Labels: none

Additional PR comments
  Obsidian.API/Crafting/SmithingRecipe.cs
  Obsidian.API/Plugins/PluginWrapper.cs
  Obsidian.API/Plugins/Services/IFileWriter.cs
  Obsidian.API/_Interfaces/ILiving.cs
  Obsidian.API/_Interfaces/IPlayer.cs
  Obsidian.API/_Types/ChatMessage.cs
  Obsidian/Plugins/PluginContainer.cs
  Obsidian/WorldData/BlockUpdates.cs
  Obsidian/WorldData/World.cs
Labels: api, plugins

Changed to sync which returns task
  Obsidian/WorldData/BlockUpdates.cs
Labels: none

Service provider fix
  Obsidian.API/Plugins/Services/IPluginServiceProvider.cs
  Obsidian/Plugins/PluginManager.cs
  Obsidian/Plugins/Services/PluginServiceProvider.cs
  Obsidian/Server.cs
Labels: api, plugins

Sample plugin for new framework
  SamplePlugin/SamplePlugin.cs
Labels: plugins

Sample Plugin build output directory fix
  SamplePlugin/SamplePlugin.csproj
Labels: plugins

PR Comment for constructor on PluginAttribute.cs
  Obsidian.API/Plugins/PluginAttribute.cs
  SamplePlugin/SamplePlugin.cs
Labels: api, plugins

Misc changes
  SamplePlugin/SamplePlugin.cs
  SamplePlugin/SamplePlugin.csproj
Labels: plugins

Made properties nullable that are not in constructor
  Obsidian.API/Plugins/PluginAttribute.cs
Labels: api, plugins

Added some documentation
  Obsidian/Plugins/PluginManager.cs
  SamplePlugin/SamplePlugin.cs
Labels: plugins

Update target frameworks
  .github/workflows/dotnet.yml
  Obsidian.API/Obsidian.API.csproj
  Obsidian.ConversionUtility/Obsidian.ConversionUtility.csproj
  Obsidian.Nbt/Obsidian.Nbt.csproj
  Obsidian.Tests/Obsidian.Tests.csproj
  Obsidian/Obsidian.csproj
  SamplePlugin/SamplePlugin.csproj
Labels: github-actions, api, nbt, plugins, tests

Update READMEs, CSPROJs...
  Obsidian.API/Obsidian.API.csproj
  Obsidian/Obsidian.csproj
  README.md
Labels: api

Update csproj license path
  Obsidian/Obsidian.csproj
Labels: none

Fix license path lol now it builds
  Obsidian.API/Obsidian.API.csproj
  Obsidian/Obsidian.csproj
Labels: api

Minor refactors
  Obsidian.API/Containers/Container.cs
  Obsidian.API/_Types/Block.cs
  Obsidian.API/_Types/Inventory/ItemStack.cs
Labels: api

Update packages
  Obsidian.Tests/Nbt.cs
  Obsidian/Obsidian.csproj
Labels: tests

Removed LangVersion node from projects
  Obsidian.API/Obsidian.API.csproj
  Obsidian.ConversionUtility/Obsidian.ConversionUtility.csproj
  Obsidian.Nbt/Obsidian.Nbt.csproj
  Obsidian.Tests/Obsidian.Tests.csproj
  Obsidian/Obsidian.csproj
  SamplePlugin/SamplePlugin.csproj
Labels: api, nbt, plugins, tests

Make server list querying an enum in config
  Obsidian/Client.cs
  Obsidian/Utilities/Config.cs
Labels: none

Resolve craft's comments.
  Obsidian/Client.cs
  Obsidian/Utilities/ServerStatus.cs
Labels: none

Make config enums serialize to strings
  Obsidian/Utilities/Config.cs
Labels: none

Simple plugin watcher
  Obsidian/Commands/MainCommandModule.cs
  Obsidian/Plugins/PluginManager.cs
  Obsidian/Server.cs
  Obsidian/Utilities/Config.cs
  SamplePlugin/SamplePlugin.csproj
Labels: commands, plugins

Fix: Chunks not loading on player movement
  Obsidian/Utilities/ClientHandler.cs
Labels: none

Fix: Chunks not loading on player movement (#179)
  Obsidian/Utilities/ClientHandler.cs
Labels: none

Add a few more biomes
  Obsidian/WorldData/Generators/Overworld/Decorators/BirchForestDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/BirchForestHillsDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/MountainsDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/SnowyMountainsDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/MountainsTerrain.cs
Labels: none

Fix NRE
  Obsidian/Net/Packets/Play/Serverbound/CreativeInventoryAction.cs
  Obsidian/Net/Packets/Play/Serverbound/ServerHeldItemChange.cs
Labels: none

Add Flora and clean up Mountains (they were ugly). Also fixed frozen rivers only being half-frozen.
  Obsidian.API/Noise/VoronoiBiomes.cs
  Obsidian/WorldData/Generators/Overworld/BiomeNoise/BaseBiomeNoise.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/DecoratorFeatures.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/MountainsDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/OverworldDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/PlainsDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Features/Flora/AlliumFlora.cs
  Obsidian/WorldData/Generators/Overworld/Features/Flora/AzureBluetFlora.cs
  Obsidian/WorldData/Generators/Overworld/Features/Flora/BaseFlora.cs
  Obsidian/WorldData/Generators/Overworld/Features/Flora/BlueOrchidFlora.cs
  Obsidian/WorldData/Generators/Overworld/Features/Flora/CornflowerFlora.cs
  Obsidian/WorldData/Generators/Overworld/Features/Flora/DandelionFlora.cs
  Obsidian/WorldData/Generators/Overworld/Features/Flora/PeonyFlora.cs
  Obsidian/WorldData/Generators/Overworld/Features/Flora/PoppyFlora.cs
  Obsidian/WorldData/Generators/Overworld/Features/Flora/TulipFlora.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/MountainsTerrain.cs
  Obsidian/WorldData/World.cs
Labels: api

Add tall flowers
  Obsidian/WorldData/Generators/Overworld/Decorators/BaseDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/FrozenRiverDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/OverworldDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/PlainsDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/RiverDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Features/Flora/BaseFlora.cs
  Obsidian/WorldData/Generators/Overworld/Features/Flora/BaseTallFlora.cs
  Obsidian/WorldData/Generators/Overworld/Features/Flora/OxeyeDaisyFlora.cs
  Obsidian/WorldData/Generators/Overworld/Features/Flora/SunflowerFlora.cs
  Obsidian/WorldData/Generators/Overworld/Features/Trees/BaseTree.cs
Labels: none

Finishing touches
  Obsidian/WorldData/Generators/Overworld/Decorators/BirchForestDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/BirchForestHillsDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/PlainsDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/TallBirchForestDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Features/Flora/LargeFernFlora.cs
  Obsidian/WorldData/Generators/Overworld/Features/Flora/LilacFlora.cs
  Obsidian/WorldData/Generators/Overworld/Features/Flora/LilyFlora.cs
  Obsidian/WorldData/Generators/Overworld/Features/Flora/RoseBushFlora.cs
  Obsidian/WorldData/Generators/Overworld/Features/Trees/TallBirchTree.cs
Labels: none

Fix ignoring when not enough room to grow
  Obsidian/WorldData/Generators/Overworld/Features/Flora/BaseTallFlora.cs
Labels: none

Feature/more biomes (#181)
  Obsidian.API/Noise/VoronoiBiomes.cs
  Obsidian/WorldData/Generators/Overworld/BiomeNoise/BaseBiomeNoise.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/BaseDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/BirchForestDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/BirchForestHillsDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/DecoratorFeatures.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/FrozenRiverDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/MountainsDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/OverworldDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/RiverDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/SnowyMountainsDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/TallBirchForestDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Features/Flora/AlliumFlora.cs
  Obsidian/WorldData/Generators/Overworld/Features/Flora/AzureBluetFlora.cs
  Obsidian/WorldData/Generators/Overworld/Features/Flora/BaseFlora.cs
  Obsidian/WorldData/Generators/Overworld/Features/Flora/BaseTallFlora.cs
  Obsidian/WorldData/Generators/Overworld/Features/Flora/BlueOrchidFlora.cs
  Obsidian/WorldData/Generators/Overworld/Features/Flora/CornflowerFlora.cs
  Obsidian/WorldData/Generators/Overworld/Features/Flora/DandelionFlora.cs
  Obsidian/WorldData/Generators/Overworld/Features/Flora/LargeFernFlora.cs
  Obsidian/WorldData/Generators/Overworld/Features/Flora/LilacFlora.cs
  Obsidian/WorldData/Generators/Overworld/Features/Flora/LilyFlora.cs
  Obsidian/WorldData/Generators/Overworld/Features/Flora/OxeyeDaisyFlora.cs
  Obsidian/WorldData/Generators/Overworld/Features/Flora/PeonyFlora.cs
  Obsidian/WorldData/Generators/Overworld/Features/Flora/PoppyFlora.cs
  Obsidian/WorldData/Generators/Overworld/Features/Flora/RoseBushFlora.cs
  Obsidian/WorldData/Generators/Overworld/Features/Flora/SunflowerFlora.cs
  Obsidian/WorldData/Generators/Overworld/Features/Flora/TulipFlora.cs
  Obsidian/WorldData/Generators/Overworld/Features/Trees/BaseTree.cs
  Obsidian/WorldData/Generators/Overworld/Features/Trees/TallBirchTree.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/MountainsTerrain.cs
  Obsidian/WorldData/World.cs
Labels: api

Use ArgumentNullException.ThrowIfNull
  Obsidian.API/_Types/BoundingBox.cs
  Obsidian.API/_Types/ChatColor.cs
  Obsidian.Nbt/NbtWriter.Writing.cs
  Obsidian/Events/AsyncEvent.T.cs
  Obsidian/Events/AsyncEvent.cs
  Obsidian/Net/MinecraftStream.Writing.cs
  Obsidian/Utilities/Concurrency/ConcurrentHashSet.cs
  Obsidian/Utilities/Extensions.StringManipulation.cs
  Obsidian/Utilities/GuidHelper.cs
  Obsidian/Utilities/ServerStatus.cs
Labels: api, nbt

Globalize minecraft website link
  README.md
Labels: none
