Repository ObsidianMC/Obsidian, changes with the labels that .github/labeler.yml gives for each.
All labels: github-actions, api, commands, nbt, plugins, source-generation, tests, world generation

Made some json extensions and fixed up converters
  Obsidian/Utilities/Converters/CraftingKeyConverter.cs
  Obsidian/Utilities/Converters/DefaultEnumConverter.cs
  Obsidian/Utilities/Converters/DefaultObjectConverter.cs
  Obsidian/Utilities/Converters/IngredientConverter.cs
  Obsidian/Utilities/Converters/IngredientsConverter.cs
  Obsidian/Utilities/Converters/StringToBoolConverter.cs
  Obsidian/Utilities/Extensions.cs
Labels: none

Recipe refactor
  Obsidian.API/Crafting/Builders/CuttingRecipeBuilder.cs
  Obsidian.API/Crafting/Builders/ShapedRecipeBuilder.cs
  Obsidian.API/Crafting/Builders/ShapelessRecipeBuilder.cs
  Obsidian.API/Crafting/Builders/SmeltingRecipeBuilder.cs
  Obsidian.API/Crafting/Builders/SmithingRecipeBuilder.cs
  Obsidian.API/Crafting/CuttingRecipe.cs
  Obsidian.API/Crafting/IRecipe.cs
  Obsidian.API/Crafting/ShapedRecipe.cs
  Obsidian.API/Crafting/ShapelessRecipe.cs
  Obsidian.API/Crafting/SmeltingRecipe.cs
  Obsidian.API/Crafting/SmithingRecipe.cs
  Obsidian/Items/DefaultRecipe.cs
  Obsidian/Items/RecipeItem.cs
Labels: api

Chat message refactor
  Obsidian.API/_Interfaces/IChatMessage.cs
  Obsidian/Chat/ChatMessage.cs
  Obsidian/Chat/ClickComponent.cs
  Obsidian/Chat/HoverComponent.cs
  Obsidian/Commands/MainCommandModule.cs
Labels: api, commands

Remove any reference of Newtonsoft.Json
  Obsidian/Entities/Player.cs
  Obsidian/Globals.cs
  Obsidian/Net/MinecraftStream.Reading.cs
  Obsidian/Net/MinecraftStream.Writing.cs
  Obsidian/Net/Packets/Play/Clientbound/TagsPacket.cs
  Obsidian/Net/Packets/Status/RequestResponse.cs
  Obsidian/Program.cs
  Obsidian/Utilities/ClientHandler.cs
  Obsidian/Utilities/Config.cs
  Obsidian/Utilities/GlobalConfig.cs
  Obsidian/Utilities/Mojang/JoinedResponse.cs
  Obsidian/Utilities/Mojang/MinecraftAPI.cs
  Obsidian/Utilities/Mojang/MojangUser.cs
  Obsidian/Utilities/OperatorList.cs
  Obsidian/Utilities/Registry/BlockJson.cs
  Obsidian/Utilities/Registry/BlockPropertiesExtraJson.cs
  Obsidian/Utilities/Registry/BlockPropertiesJson.cs
  Obsidian/Utilities/Registry/BlockStateJson.cs
  Obsidian/Utilities/Registry/Codecs/Biomes/BiomeElement.cs
  Obsidian/Utilities/Registry/Codecs/Biomes/BiomeMusicEffect.cs
  Obsidian/Utilities/Registry/Codecs/Biomes/BiomeParticle.cs
  Obsidian/Utilities/Registry/Codecs/Dimensions/DimensionElement.cs
  Obsidian/Utilities/ServerStatus.cs
Labels: none

Update Registry.cs
  Obsidian/Utilities/Registry/Registry.cs
Labels: none

Update Obsidian.csproj
  Obsidian/Obsidian.csproj
Labels: none

Changed MemoryWriter.cs and MemoryReader.cs to ProtocolWriter.cs and ProtocolReader.cs as it is more specific
  Obsidian.IO/MemoryMeasure.cs
  Obsidian.IO/ProtocolReader.cs
  Obsidian.IO/ProtocolWriter.cs
  Obsidian.Tests/VarInt.cs
  Obsidian.Tests/VarLong.cs
Labels: tests

Optimize ProtocolWriter.cs
  Obsidian.IO/ProtocolWriter.cs
Labels: none

Implement ProtocolReader.cs
  Obsidian.IO/BigEndianGuid.cs
  Obsidian.IO/ProtocolReader.cs
  Obsidian.IO/ProtocolWriter.cs
Labels: none

Added ToArray to ProtocolWriter.cs
  Obsidian.IO/ProtocolWriter.cs
Labels: none

ReadSpan fix
  Obsidian.IO/ProtocolReader.cs
Labels: none

Fixed string writing
  Obsidian.IO/ProtocolWriter.cs
Labels: none

Fixed span reading
  Obsidian.IO/ProtocolReader.cs
Labels: none

Added tests
  Obsidian.Tests/ProtocolEncoding.cs
Labels: tests

Add SkipLocalsInit attribute
  Obsidian.IO/ProtocolReader.cs
  Obsidian.IO/ProtocolWriter.cs
Labels: none

Final refactors
  Obsidian/Globals.cs
  Obsidian/Server.cs
  Obsidian/Utilities/Converters/DefaultObjectConverter.cs
  Obsidian/Utilities/Registry/Registry.cs
Labels: none

Optimize ProtocolReader.cs and ProtocolWriter.cs
  Obsidian.IO/ProtocolReader.cs
  Obsidian.IO/ProtocolWriter.cs
Labels: none

Fixed WriteByte index
  Obsidian.IO/ProtocolWriter.cs
Labels: none

Changed buffer ref obtaining method
  Obsidian.IO/ProtocolWriter.cs
Labels: none

Changed Byte unit test
  Obsidian.Tests/ProtocolEncoding.cs
Labels: tests

Update ProtocolReader.cs
  Obsidian.IO/ProtocolReader.cs
Labels: none

Delete IngredientsConverter.cs
  Obsidian/Utilities/Converters/IngredientsConverter.cs
Labels: none

fixup! Update ProtocolReader.cs
  Obsidian.IO/ProtocolReader.cs
Labels: none

Change overload from byte[] to ArraySegment<byte> and fix ReadOnlyMemory overload
  Obsidian.IO/ProtocolReader.cs
Labels: none

Update ProtocolWriter.cs and ProtocolReader.cs
  Obsidian.IO/ProtocolReader.cs
  Obsidian.IO/ProtocolWriter.cs
Labels: none

Fix encryption request packet, online mode is back bois
  Obsidian/Net/Packets/Login/EncryptionRequest.cs
Labels: none

Checkpoint
  1
  Obsidian.API/Noise/Blend.cs
  Obsidian.API/Noise/Blur.cs
  Obsidian.API/Noise/FuncRunner.cs
  Obsidian.API/Noise/Interpolate.cs
  Obsidian.API/Noise/Polariaze.cs
  Obsidian.API/Noise/TerrainSelect.cs
  Obsidian.API/Noise/TransitionMap.cs
  Obsidian.API/Noise/VoronoiBiomes.cs
  Obsidian.Tests/Noise.cs
  Obsidian/Client.cs
  Obsidian/Commands/MainCommandModule.cs
  Obsidian/Server.cs
  Obsidian/WorldData/Generators/Overworld/ChunkBiome.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/BadlandsDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/BeachDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/TaigaDecorator.cs
  Obsidian/WorldData/Generators/Overworld/OverworldTerrainSettings.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/BadlandsTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/HillsTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/MountainsTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/OceanTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/OverworldTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/PlainsTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/RiverTerrain.cs
  Obsidian/WorldData/Region.cs
  Obsidian/WorldData/World.cs
Labels: api, commands, tests

Fixes #117
  Obsidian.API/_Types/MinecraftArgumentTypes.cs
  Obsidian/Commands/Framework/ArgumentParsers/NumericArgumentParsers.cs
  Obsidian/Commands/Parsers/DoubleCommandParser.cs
  Obsidian/Commands/Parsers/NumberCommandParsers.cs
  Obsidian/Utilities/Registry/Registry.cs
Labels: api, commands

Checkpoint
  Obsidian/Program.cs
  Obsidian/Server.cs
  Obsidian/WorldData/World.cs
Labels: none

Clean up console status changes
  Obsidian/Server.cs
  Obsidian/Utilities/ConsoleIO.cs
Labels: none

Checkpoint
  1
Labels: none

Fix super small typo
  Obsidian/Program.cs
Labels: none

Prep for merge
  Obsidian.API/Noise/BitShiftInput.cs
  Obsidian.API/Noise/Blend.cs
  Obsidian.API/Noise/Context.cs
  Obsidian.API/Noise/Interpolate.cs
  Obsidian/Net/Packets/Play/Serverbound/PlayerPosition.cs
  Obsidian/Server.cs
  Obsidian/WorldData/World.cs
Labels: api

What is dead may never die
  Obsidian/WorldData/Generators/Overworld/BiomeNoise/HumidityNoise.cs
  Obsidian/WorldData/Generators/Overworld/BiomeNoise/TemperatureNoise.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/OverworldTerrain.cs
Labels: none

Feature/noise extensions (#133)
  Obsidian.API/Noise/BitShiftInput.cs
  Obsidian.API/Noise/Blend.cs
  Obsidian.API/Noise/Blur.cs
  Obsidian.API/Noise/FuncRunner.cs
  Obsidian.API/Noise/FuncSelector.cs
  Obsidian.API/Noise/Interpolate.cs
  Obsidian.API/Noise/Polariaze.cs
  Obsidian.API/Noise/TerrainSelect.cs
  Obsidian.API/Noise/TransitionMap.cs
  Obsidian.API/Noise/VoronoiBiomes.cs
  Obsidian.API/Noise/Zoom.cs
  Obsidian.API/Obsidian.API.csproj
  Obsidian.Tests/Noise.cs
  Obsidian/Client.cs
  Obsidian/Commands/MainCommandModule.cs
  Obsidian/Net/Packets/Play/Serverbound/PlayerPosition.cs
  Obsidian/Program.cs
  Obsidian/Server.cs
  Obsidian/Utilities/ConsoleIO.cs
  Obsidian/WorldData/Generators/Overworld/BiomeNoise/HumidityNoise.cs
  Obsidian/WorldData/Generators/Overworld/BiomeNoise/TemperatureNoise.cs
  Obsidian/WorldData/Generators/Overworld/ChunkBiome.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/BadlandsDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/BeachDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/TaigaDecorator.cs
  Obsidian/WorldData/Generators/Overworld/OverworldTerrainSettings.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/BadlandsTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/HillsTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/MountainsTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/OceanTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/OverworldTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/PlainsTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/RiverTerrain.cs
  Obsidian/WorldData/Region.cs
  Obsidian/WorldData/World.cs
Labels: api, commands, tests

Fix stack overflow
  Obsidian/Entities/Player.cs
Labels: none

Fixed plugin message not being serialized correctly
  Obsidian/Client.cs
Labels: none

Fixed item entities not dropping when breaking a block
  Obsidian/Entities/Player.cs
  Obsidian/Server.cs
  Obsidian/Utilities/Registry/Registry.cs
Labels: none

Checkpoint
  Obsidian.API/Noise/TransitionMap.cs
  Obsidian.API/Noise/VoronoiBiomes.cs
  Obsidian.Tests/Noise.cs
  Obsidian/Net/Packets/Play/Clientbound/JoinGame.cs
  Obsidian/Net/Packets/Play/Serverbound/ClientSettings.cs
  Obsidian/WorldData/Generators/Overworld/ChunkBiome.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/DecoratorFeatures.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/DeepOceanDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/DeepWarmOceanDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/ForestDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/GiantTreeTaigaDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/OceanDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/OverworldDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Features/Trees/LargeOakTree.cs
  Obsidian/WorldData/Generators/Overworld/Features/Trees/LargeSpruceTree.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/DeepOceanTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/OverworldTerrain.cs
  Obsidian/WorldData/World.cs
Labels: api, tests

various optimizations
  Obsidian.API/Noise/VoronoiBiomes.cs
  Obsidian.Tests/Noise.cs
  Obsidian/Client.cs
  Obsidian/WorldData/Generators/Overworld/BiomeNoise/VoronoiBiomeNoise.cs
  Obsidian/WorldData/Generators/Overworld/Carvers/BaseCarver.cs
  Obsidian/WorldData/Generators/Overworld/Carvers/CaveCarver.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/BadlandsTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/BaseTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/DeepOceanTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/HillsTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/MountainsTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/OceanTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/OverworldTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/PlainsTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/RiverTerrain.cs
  Obsidian/WorldData/Generators/OverworldGenerator.cs
  Obsidian/WorldData/World.cs
Labels: api, tests

.github/labeler.yml:

github-actions:
  - .github/workflows/*
  - .github/workflows/**/*

api:
  - Obsidian.API/*
  - Obsidian.API/**/*
  
commands:
  - Obsidian/Commands/*
  - Obsidian/Commands/**/*
  - Obsidian.API/_Attributes/*
  
nbt:
  - Obsidian.Nbt/*
  - Obsidian.Nbt/**/*

plugins:
  - Obsidian/Plugins/*
  - Obsidian/Plugins/**/*
  - Obsidian.API/Plugins/*
  - SamplePlugin/*

source-generation:
  - Obsidian.SourceGenerators/*
  - Obsidian.SourceGenerators/**/*

tests:
  - Obsidian.Tests/*
  - Obsidian.Tests/**/*

world generation:
  - Obsidian/WorldData/Generators
