Repository ObsidianMC/Obsidian, pull requests merged in 2021-08, with the labels that each got.

#133 Feature/noise extensions
  Obsidian.API/Noise/BitShiftInput.cs
  Obsidian.API/Noise/Blend.cs
  Obsidian.API/Noise/Blur.cs
  Obsidian.API/Noise/FuncRunner.cs
  Obsidian.API/Noise/FuncSelector.cs
  Obsidian.API/Noise/Interpolate.cs
  Obsidian.API/Noise/Polariaze.cs
  Obsidian.API/Noise/TerrainSelect.cs
  Obsidian.API/Noise/TransitionMap.cs
  Obsidian.API/Noise/VoronoiBiomes.cs
  Obsidian.API/Noise/Zoom.cs
  Obsidian.API/Obsidian.API.csproj
  Obsidian.Tests/Noise.cs
  Obsidian/Client.cs
  Obsidian/Commands/MainCommandModule.cs
  Obsidian/Net/Packets/Play/Serverbound/PlayerPosition.cs
  Obsidian/Program.cs
  Obsidian/Server.cs
  Obsidian/Utilities/ConsoleIO.cs
  Obsidian/WorldData/Generators/Overworld/BiomeNoise/HumidityNoise.cs
  Obsidian/WorldData/Generators/Overworld/BiomeNoise/TemperatureNoise.cs
  Obsidian/WorldData/Generators/Overworld/ChunkBiome.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/BadlandsDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/BeachDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/TaigaDecorator.cs
  Obsidian/WorldData/Generators/Overworld/OverworldTerrainSettings.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/BadlandsTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/HillsTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/MountainsTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/OceanTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/OverworldTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/PlainsTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/RiverTerrain.cs
  Obsidian/WorldData/Region.cs
  Obsidian/WorldData/World.cs
Labels: api, tests, commands

#137 [Important] Implement URL encoding for Mojang API requests.
  Obsidian/Utilities/Mojang/MinecraftAPI.cs
Labels: bug, server, priority: blocking

#136 Feature/falling sand
  Obsidian.API/_Enums/GravityAffected.cs
  Obsidian/Block.cs
  Obsidian/Entities/FallingBlock.cs
  Obsidian/Net/Packets/Play/Serverbound/PlayerBlockPlacement.cs
  Obsidian/Net/Packets/Play/Serverbound/PlayerDigging.cs
  Obsidian/Server.cs
  Obsidian/Utilities/Extensions.cs
  Obsidian/WorldData/Region.cs
  Obsidian/WorldData/World.cs
Labels: api

#139 Add PacketReceived event
  Obsidian.API/Events/PacketReceivedEventArgs.cs
  Obsidian/Client.cs
  Obsidian/Events/EventArgs/PacketReceivedEventArgs.cs
Labels: enhancement, api, plugins

#140 Use item packet implemented
  Obsidian.API/Events/ItemUsedEventArgs.cs
  Obsidian/Events/MinecraftEventHandler.cs
  Obsidian/Net/Packets/Play/Serverbound/UseItem.cs
  Obsidian/Utilities/ClientHandler.cs
Labels: enhancement, api
