Repository ObsidianMC/Obsidian, pull requests merged in 2021-11, with the labels that each got.

#176 Feature/dotnet6
  .github/workflows/dotnet.yml
  Obsidian.API/Obsidian.API.csproj
  Obsidian.ConversionUtility/Obsidian.ConversionUtility.csproj
  Obsidian.Nbt/Obsidian.Nbt.csproj
  Obsidian.Tests/Nbt.cs
  Obsidian.Tests/Obsidian.Tests.csproj
  Obsidian/Obsidian.csproj
  README.md
  SamplePlugin/SamplePlugin.csproj
Labels: enhancement, epic, api, plugins, tests, nbt, github-actions, priority: medium, dependencies

#156 Anonymized server listing options
  Obsidian/Client.cs
  Obsidian/Utilities/Config.cs
  Obsidian/Utilities/ServerStatus.cs
Labels: enhancement, epic, hacktoberfest

#178 Make config enums serialize to strings
  Obsidian/Utilities/Config.cs
Labels: enhancement, server

#184 Use ArgumentNullException.ThrowIfNull
  Obsidian.API/_Types/BoundingBox.cs
  Obsidian.API/_Types/ChatColor.cs
  Obsidian.Nbt/NbtWriter.Writing.cs
  Obsidian/Events/AsyncEvent.T.cs
  Obsidian/Events/AsyncEvent.cs
  Obsidian/Net/MinecraftStream.Writing.cs
  Obsidian/Utilities/Concurrency/ConcurrentHashSet.cs
  Obsidian/Utilities/Extensions.StringManipulation.cs
  Obsidian/Utilities/GuidHelper.cs
  Obsidian/Utilities/ServerStatus.cs
Labels: api, nbt
