Repository ObsidianMC/Obsidian, pull requests merged in 2022-10, with the labels that each got.

#286 Create docker-publish.yml
  .github/workflows/docker-publish.yml
Labels: github-actions

#290 Bugfix/global logger removal
  Obsidian.ConsoleApp/Logging/Logger.cs
  Obsidian.ConsoleApp/Program.cs
  Obsidian/Globals.cs
  Obsidian/Net/MinecraftStream.cs
  Obsidian/Net/Packets/Play/KeepAlivePacket.cs
  Obsidian/Server.Events.cs
  Obsidian/Server.cs
  Obsidian/Utilities/ClientHandler.cs
Labels: bug, priority: high, networking

#292 Cleanup Client.cs
  Obsidian/Client.cs
  Obsidian/Net/Packets/Play/KeepAlivePacket.cs
  Obsidian/Net/Packets/Play/Serverbound/ClientInformationPacket.cs
  Obsidian/Server.cs
  Obsidian/Utilities/Extensions.cs
Labels: enhancement, epic, server, priority: medium, code-style
