Repository ObsidianMC/Obsidian, pull requests merged in 2022-01, with the labels that each got.

#210 Remove memory copies when loading chunks
  Obsidian/Utilities/ReadOnlyStream.cs
  Obsidian/WorldData/Region.cs
  Obsidian/WorldData/RegionFile.cs
Labels: server

#166 Feature/inventory
  Obsidian.API/Containers/AnvilContainer.cs
  Obsidian.API/Containers/BaseContainer.cs
  Obsidian.API/Containers/BrewingStand.cs
  Obsidian.API/Containers/CartographyTable.cs
  Obsidian.API/Containers/Container.cs
  Obsidian.API/Containers/CraftingTable.cs
  Obsidian.API/Containers/EnchantmentTable.cs
  Obsidian.API/Containers/Grindstone.cs
  Obsidian.API/Containers/Loom.cs
  Obsidian.API/Containers/SmeltingContainer.cs
  Obsidian.API/Containers/Stonecutter.cs
  Obsidian.API/Events/ContainerClickEventArgs.cs
  Obsidian.API/_Enums/InventoryType.cs
  Obsidian.API/_Interfaces/IBlockEntity.cs
  Obsidian.API/_Interfaces/IPlayer.cs
  Obsidian.API/_Types/Block.cs
  Obsidian.API/_Types/Inventory/Inventory.cs
  Obsidian.API/_Types/Inventory/ItemMeta.cs
  Obsidian.API/_Types/Inventory/ItemMetaBuilder.cs
  Obsidian.API/_Types/Inventory/ItemStack.cs
  Obsidian.Tests/Deserialization.cs
  Obsidian.Tests/Noise.cs
  Obsidian/Blocks/BlockMeta.cs
  Obsidian/Blocks/BlockMetaBuilder.cs
  Obsidian/Client.cs
  Obsidian/Entities/Player.cs
  Obsidian/Events/MinecraftEventHandler.cs
  Obsidian/Net/MinecraftStream.Reading.cs
  Obsidian/Net/Packets/Play/Clientbound/OpenWindow.cs
  Obsidian/Net/Packets/Play/CloseWindow.cs
  Obsidian/Net/Packets/Play/Serverbound/ClickWindowPacket.cs
  Obsidian/Net/Packets/Play/Serverbound/CreativeInventoryAction.cs
  Obsidian/Net/Packets/Play/Serverbound/PlayerBlockPlacement.cs
  Obsidian/Server.Events.cs
  Obsidian/Server.cs
  Obsidian/Utilities/Extensions.Nbt.cs
  Obsidian/Utilities/Extensions.cs
  Obsidian/WorldData/Chunk.cs
  Obsidian/WorldData/Region.cs
  Obsidian/WorldData/TileEntity.cs
  Obsidian/WorldData/World.cs
Labels: api, tests

#211 Update year in LICENSE
  LICENSE
Labels: project management

#212 Remove azure pipelines
  appveyor.yml
  azure-pipelines.yml
Labels: project management

#213 Feature/time and weather
  Obsidian/Client.cs
  Obsidian/Commands/MainCommandModule.cs
  Obsidian/Net/Packets/Play/Clientbound/ChangeGameState.cs
  Obsidian/Net/Packets/Play/Clientbound/TimeUpdate.cs
  Obsidian/Server.cs
  Obsidian/Utilities/Config.cs
  Obsidian/WorldData/Level.cs
  Obsidian/WorldData/World.cs
Labels: enhancement, commands, server

#216 fix: File lock issues when loading regions and regions intermittently not saving properly
  Obsidian.API/_Interfaces/IWorld.cs
  Obsidian.ConsoleApp/Program.cs
  Obsidian/Commands/MainCommandModule.cs
  Obsidian/Entities/Entity.cs
  Obsidian/Entities/FallingBlock.cs
  Obsidian/Net/Packets/Play/CloseWindow.cs
  Obsidian/Net/Packets/Play/Serverbound/ClickWindowPacket.cs
  Obsidian/Net/Packets/Play/Serverbound/EntityAction.cs
  Obsidian/Net/Packets/Play/Serverbound/PlayerBlockPlacement.cs
  Obsidian/Net/Packets/Play/Serverbound/PlayerDigging.cs
  Obsidian/Server.Events.cs
  Obsidian/Server.cs
  Obsidian/WorldData/BlockUpdates.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/OverworldDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Features/Flora/BaseFlora.cs
  Obsidian/WorldData/Generators/Overworld/Features/Flora/BaseTallFlora.cs
  Obsidian/WorldData/Generators/Overworld/Features/Trees/AcaciaTree.cs
  Obsidian/WorldData/Generators/Overworld/Features/Trees/BaseTree.cs
  Obsidian/WorldData/Generators/Overworld/Features/Trees/LargeOakTree.cs
  Obsidian/WorldData/Generators/Overworld/Features/Trees/LargeSpruceTree.cs
  Obsidian/WorldData/Generators/OverworldGenerator.cs
  Obsidian/WorldData/Generators/SuperflatGenerator.cs
  Obsidian/WorldData/Region.cs
  Obsidian/WorldData/RegionFile.cs
  Obsidian/WorldData/World.cs
  Obsidian/WorldData/WorldGenerator.cs
Labels: api, commands

#221 feat(1.18 biomes): Update biome names and scaling for 1.18
  Obsidian.API/Noise/SplitScaleBias.cs
  Obsidian.API/Noise/VoronoiBiomes.cs
  Obsidian.Tests/Noise.cs
  Obsidian/WorldData/Generators/Overworld/Carvers/BaseCarver.cs
  Obsidian/WorldData/Generators/Overworld/Carvers/CaveCarver.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/BirchForestHillsDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/DeepLukewarmOceanDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/DesertHillsDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/ErodedBadlandsDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/FrozenPeaksDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/OldGrowthBirchForestDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/OldGrowthSpruceTaigaDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/SnowySlopesDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/WoodedBadlandsDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/WoodedMountainsDecorator.cs
  Obsidian/WorldData/Generators/Overworld/OverworldTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/BadlandsTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/BaseTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/DeepOceanTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/HillsTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/MountainsTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/OceanTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/OverworldTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/PlainsTerrain.cs
  Obsidian/WorldData/Generators/Overworld/Terrain/RiverTerrain.cs
Labels: api, tests

#234 Simplify DataArray
  Obsidian/Utilities/Collection/DataArray.cs
Labels: enhancement

#217 Feature/multiworld
  Obsidian.API/Obsidian.API.csproj
  Obsidian.API/Registry/Codecs/Biomes/BiomeAdditionSound.cs
  Obsidian.API/Registry/Codecs/Biomes/BiomeCodec.cs
  Obsidian.API/Registry/Codecs/Biomes/BiomeEffect.cs
  Obsidian.API/Registry/Codecs/Biomes/BiomeElement.cs
  Obsidian.API/Registry/Codecs/Biomes/BiomeMusicEffect.cs
  Obsidian.API/Registry/Codecs/Biomes/BiomeOption.cs
  Obsidian.API/Registry/Codecs/Biomes/BiomeParticle.cs
  Obsidian.API/Registry/Codecs/CodecCollection.cs
  Obsidian.API/Registry/Codecs/Dimensions/DimensionCodec.cs
  Obsidian.API/Registry/Codecs/Dimensions/DimensionElement.cs
  Obsidian.API/Registry/Converters/ConverterHelpers.cs
  Obsidian.API/Registry/Converters/DimensionCodecConverter.cs
  Obsidian.API/Registry/Converters/DimensionElementConverter.cs
  Obsidian.API/_Interfaces/ICodec.cs
  Obsidian.API/_Interfaces/IConfig.cs
  Obsidian.API/_Interfaces/IEntity.cs
  Obsidian.API/_Interfaces/IPlayer.cs
  Obsidian.API/_Interfaces/IWorld.cs
  Obsidian.ConsoleApp/Program.cs
  Obsidian.Tests/Noise.cs
  Obsidian/Client.cs
  Obsidian/Commands/MainCommandModule.cs
  Obsidian/Entities/Entity.cs
  Obsidian/Entities/FallingBlock.cs
  Obsidian/Entities/Player.cs
  Obsidian/Net/MinecraftStream.Writing.cs
  Obsidian/Net/Packets/Play/Clientbound/JoinGame.cs
  Obsidian/Net/Packets/Play/Clientbound/Respawn.cs
  Obsidian/Net/Packets/Play/CloseWindow.cs
  Obsidian/Net/Packets/Play/Serverbound/ClickWindowPacket.cs
  Obsidian/Net/Packets/Play/Serverbound/PlayerBlockPlacement.cs
  Obsidian/Net/Packets/Play/Serverbound/PlayerDigging.cs
  Obsidian/Net/Packets/Play/Serverbound/PlayerPosition.cs
  Obsidian/Server.Events.cs
  Obsidian/Server.cs
  Obsidian/Utilities/Config.cs
  Obsidian/Utilities/Converters/DefaultEnumConverter.cs
  Obsidian/Utilities/Extensions.Nbt.cs
  Obsidian/Utilities/Extensions.StringManipulation.cs
  Obsidian/Utilities/Registry/Codecs/Biomes/BiomeAdditionSound.cs
  Obsidian/Utilities/Registry/Codecs/Biomes/BiomeCodec.cs
  Obsidian/Utilities/Registry/Codecs/Biomes/BiomeEffect.cs
  Obsidian/Utilities/Registry/Codecs/Biomes/BiomeElement.cs
  Obsidian/Utilities/Registry/Codecs/Biomes/BiomeOption.cs
  Obsidian/Utilities/Registry/Codecs/Biomes/BiomeParticle.cs
  Obsidian/Utilities/Registry/Codecs/Dimensions/DimensionCodec.cs
  Obsidian/Utilities/Registry/Codecs/Dimensions/DimensionElement.cs
  Obsidian/Utilities/Registry/Registry.cs
  Obsidian/WorldData/Generators/EmptyWorldGenerator.cs
  Obsidian/WorldData/Generators/OverworldGenerator.cs
  Obsidian/WorldData/Generators/SuperflatGenerator.cs
  Obsidian/WorldData/IWorldGenerator.cs
  Obsidian/WorldData/Level.cs
  Obsidian/WorldData/Region.cs
  Obsidian/WorldData/World.cs
  Obsidian/WorldData/WorldGenerator.cs
  Obsidian/WorldData/WorldManager.cs
Labels: api, tests, commands

#238 feat: Lighting Engine
  Obsidian.API/_Enums/LightType.cs
  Obsidian.API/_Types/BitSet.cs
  Obsidian.API/_Types/Block.cs
  Obsidian.API/_Types/Vector.cs
  Obsidian.Nbt/NbtWriter.cs
  Obsidian.Tests/BitSetTest.cs
  Obsidian.Tests/Light.cs
  Obsidian/ChunkData/ChunkSection.cs
  Obsidian/Client.cs
  Obsidian/Net/Packets/Play/Clientbound/ChunkDataPacket.cs
  Obsidian/WorldData/Chunk.cs
  Obsidian/WorldData/Generators/SuperflatGenerator.cs
  Obsidian/WorldData/Region.cs
  Obsidian/WorldData/World.cs
  Obsidian/WorldData/WorldLight.cs
Labels: api, tests, nbt

#240 Cleanup MainCommandModule.cs
  Obsidian/Commands/MainCommandModule.cs
Labels: commands
