Repository ObsidianMC/Obsidian, pull requests merged in 2022-02, with the labels that each got.

#242 Fix slow dictionary usage
  Obsidian/WorldData/World.cs
Labels: enhancement, performance

#244 Small fixes to get the template plugin running again
  Obsidian/Plugins/PluginProviders/CompiledPluginProvider.cs
  Obsidian/Plugins/Services/LoggerService.cs
Labels: plugins

#243 Refactor Client class
  Obsidian/Client.cs
  Obsidian/Commands/MainCommandModule.cs
  Obsidian/Entities/Player.cs
  Obsidian/Net/Packets/Play/Clientbound/PlayerListHeaderFooter.cs
  Obsidian/Net/Packets/Play/Serverbound/PlayerPosition.cs
  Obsidian/Server.cs
Labels: enhancement, commands

#245 Change player names to be case-insensitive
  Obsidian/Server.cs
Labels: api, priority: low

#246 Remove plugin services and sandboxing
  Obsidian.API/Plugins/PluginPermissions.cs
  Obsidian.API/Plugins/Services/Common/ISecuredService.cs
  Obsidian.API/Plugins/Services/Diagnostics/IProcess.cs
  Obsidian.API/Plugins/Services/Diagnostics/IStopwatch.cs
  Obsidian.API/Plugins/Services/IDiagnoser.cs
  Obsidian.API/Plugins/Services/IFileReader.cs
  Obsidian.API/Plugins/Services/IFileWriter.cs
  Obsidian.API/Plugins/Services/ILogger.cs
  Obsidian.API/Plugins/Services/INativeLoader.cs
  Obsidian.API/Plugins/Services/INetworkClient.cs
  Obsidian.API/Plugins/Services/IO/IFileService.cs
  Obsidian.API/Plugins/Services/IO/IStream.cs
  Obsidian.API/Plugins/Services/IService.cs
  Obsidian/Plugins/AssemblySafetyManager.cs
  Obsidian/Plugins/PluginContainer.cs
  Obsidian/Plugins/PluginManager.cs
  Obsidian/Plugins/ServiceProviders/SecuredServiceBase.cs
  Obsidian/Plugins/ServiceProviders/ServiceProvider.cs
  Obsidian/Plugins/ServiceProviders/SingletonServiceBase.cs
  Obsidian/Plugins/Services/DiagnoserService.cs
  Obsidian/Plugins/Services/FileReaderService.cs
  Obsidian/Plugins/Services/FileWriterService.cs
  Obsidian/Plugins/Services/NativeLoaderService.cs
  Obsidian/Plugins/Services/ProcessService.cs
  Obsidian/Plugins/Services/ReadingStreamService.cs
  Obsidian/Plugins/Services/StopwatchService.cs
  Obsidian/Plugins/Services/StreamService.cs
  Obsidian/Plugins/Services/WritingStreamService.cs
  Obsidian/Server.cs
  SamplePlugin/SamplePlugin.cs
Labels: api, plugins, priority: medium

#250 Fix subgroup commands
  Obsidian/Commands/Framework/CommandHandler.cs
Labels: bug, plugins, commands, priority: medium
