Repository ObsidianMC/Obsidian, pull requests merged in 2023-06, with the labels that each got.

#363 Feature/caves and ores
  Obsidian.Tests/Noise.cs
  Obsidian/Server.cs
  Obsidian/WorldData/Decorators/BadlandsDecorator.cs
  Obsidian/WorldData/Decorators/BambooJungleDecorator.cs
  Obsidian/WorldData/Decorators/BaseDecorator.cs
  Obsidian/WorldData/Decorators/BeachDecorator.cs
  Obsidian/WorldData/Decorators/BirchForestDecorator.cs
  Obsidian/WorldData/Decorators/DarkForestDecorator.cs
  Obsidian/WorldData/Decorators/DefaultDecorator.cs
  Obsidian/WorldData/Decorators/DesertDecorator.cs
  Obsidian/WorldData/Decorators/ErodedBadlandsDecorator.cs
  Obsidian/WorldData/Decorators/FlowerForestDecorator.cs
  Obsidian/WorldData/Decorators/ForestDecorator.cs
  Obsidian/WorldData/Decorators/FrozenPeaksDecorator.cs
  Obsidian/WorldData/Decorators/GroveDecorator.cs
  Obsidian/WorldData/Decorators/JungleDecorator.cs
  Obsidian/WorldData/Decorators/MushroomFieldsDecorator.cs
  Obsidian/WorldData/Decorators/OceanDecorator.cs
  Obsidian/WorldData/Decorators/OldGrowthBirchForestDecorator.cs
  Obsidian/WorldData/Decorators/OldGrowthSpruceTaigaDecorator.cs
  Obsidian/WorldData/Decorators/PlainsDecorator.cs
  Obsidian/WorldData/Decorators/RiverDecorator.cs
  Obsidian/WorldData/Decorators/SavannaDecorator.cs
  Obsidian/WorldData/Decorators/SnowySlopesDecorator.cs
  Obsidian/WorldData/Decorators/SnowyTaigaDecorator.cs
  Obsidian/WorldData/Decorators/SunflowerPlainsDecorator.cs
  Obsidian/WorldData/Decorators/TaigaDecorator.cs
  Obsidian/WorldData/Decorators/WoodedBadlandsDecorator.cs
  Obsidian/WorldData/Generators/Overworld/ChunkBuilder.cs
  Obsidian/WorldData/Generators/Overworld/OverworldTerrainNoise.cs
  Obsidian/WorldData/Generators/Overworld/OverworldTerrainSettings.cs
  Obsidian/WorldData/Generators/OverworldGenerator.cs
Labels: tests

#365 Region file hotfix
  Obsidian.Nbt/NbtReader.cs
  Obsidian/WorldData/Region.cs
  Obsidian/WorldData/RegionFile.cs
  Obsidian/WorldData/World.cs
Labels: epic, nbt, world generation, priority: blocking

#369 Seal virtual object methods in PluginBase
  Obsidian.API/Plugins/PluginBase.cs
Labels: api, plugins, priority: low

#370 1.20 update
  Obsidian.API/Crafting/Builders/Interfaces/IRecipeResult.cs
  Obsidian.API/Crafting/Builders/SmithingRecipeBuilder.cs
  Obsidian.API/Crafting/Builders/SmithingTransformRecipeBuilder.cs
  Obsidian.API/Crafting/CraftingType.cs
  Obsidian.API/Crafting/SmithingRecipe.cs
  Obsidian.API/_Enums/Biome.cs
  Obsidian.API/_Enums/DataKept.cs
  Obsidian.API/_Enums/GameEvent.cs
  Obsidian.API/_Enums/ParticleType.cs
  Obsidian.API/_Enums/ProtocolVersion.cs
  Obsidian.API/_Enums/SoundId.cs
  Obsidian/Assets/advancements.json
  Obsidian/Assets/biomes.json
  Obsidian/Assets/damage_type.json
  Obsidian/Assets/items.json
  Obsidian/Assets/recipes.json
  Obsidian/Assets/tags.json
  Obsidian/Entities/Player.cs
  Obsidian/Net/MinecraftStream.Writing.cs
  Obsidian/Net/Packets/Play/Clientbound/ChunkDataAndUpdateLightPacket.cs
  Obsidian/Net/Packets/Play/Clientbound/LoginPacket.cs
  Obsidian/Net/Packets/Play/Clientbound/RespawnPacket.cs
  Obsidian/Server.cs
  Obsidian/Utilities/Converters/RecipeConverter.cs
Labels: epic, api, server, priority: high, networking

#373 Refactor World code
  Obsidian.API/_Types/Vector.cs
  Obsidian/WorldData/World.cs
Labels: api

#378 General code clean up
  Obsidian.API/Noise/ContinentSelector.cs
  Obsidian.API/Noise/VoronoiTunnels.cs
  Obsidian.API/_Types/Vector.cs
  Obsidian.ConsoleApp/Logging/Logger.cs
  Obsidian.SourceGenerators/Registry/BlocksGenerator.BlockStateBuilder.cs
  Obsidian.SourceGenerators/Registry/RegistryAssetsGenerator.DamageTypes.cs
  Obsidian/BlockUpdate.cs
  Obsidian/ChunkData/BiomeContainer.cs
  Obsidian/ChunkData/BlockStateContainer.cs
  Obsidian/Client.cs
  Obsidian/Commands/Parsers/LocationTypeParser.cs
  Obsidian/Commands/Parsers/PlayerTypeParser.cs
  Obsidian/Entities/FallingBlock.cs
  Obsidian/Entities/Player.cs
  Obsidian/Hosting/DefaultServerEnvironment.cs
  Obsidian/Net/MinecraftStream.Writing.cs
  Obsidian/Net/Packets/Play/Serverbound/PlayerActionPacket.cs
  Obsidian/Net/Packets/Play/Serverbound/UseItemOnPacket.cs
  Obsidian/Plugins/PluginProviders/RemotePluginProvider.cs
  Obsidian/Server.Events.cs
  Obsidian/Server.cs
  Obsidian/Utilities/Collections/DataArray.cs
  Obsidian/Utilities/ConsoleIO.cs
  Obsidian/Utilities/OperatorList.cs
  Obsidian/Utilities/ReadOnlyStream.cs
  Obsidian/Utilities/UserCache.cs
  Obsidian/WorldData/BlockUpdates.cs
  Obsidian/WorldData/Decorators/ColdOceanDecorator.cs
  Obsidian/WorldData/RegionFile.cs
  Obsidian/WorldData/World.cs
Labels: priority: low, code-style
