Repository ObsidianMC/Obsidian, pull requests merged in 2023-11, with the labels that each got.

#396 Fix fetching OnlineMode user data on login
  Obsidian/Client.cs
  Obsidian/Utilities/Mojang/MojangUser.cs
Labels: bug, epic, server, priority: blocking, sir we are a minecraft server

#399 Set more sensible config defaults.
  Obsidian/Utilities/Config.cs
Labels: server, priority: low

#398 Add a very unoptimized operator-only derp entity spawning command
  Obsidian/Commands/MainCommandModule.cs
Labels: epic, commands

#409 Add SetHeadRotation and SetRotation
  Obsidian.API/_Interfaces/IEntity.cs
  Obsidian/Commands/MainCommandModule.cs
  Obsidian/Entities/Entity.cs
Labels: api, commands
