Repository ObsidianMC/Obsidian, pull requests merged in 2023-01, with the labels that each got.

#310 Recipe builder enhancements
  Obsidian.API/Crafting/Builders/BaseRecipeBuilder.cs
  Obsidian.API/Crafting/Builders/CookingRecipeBuilder.cs
  Obsidian.API/Crafting/Builders/CuttingRecipeBuilder.cs
  Obsidian.API/Crafting/Builders/IRecipeBuilder.cs
  Obsidian.API/Crafting/Builders/Interfaces/IBaseIngredientRecipe.cs
  Obsidian.API/Crafting/Builders/Interfaces/ICookingRecipe.cs
  Obsidian.API/Crafting/Builders/Interfaces/IGroupedRecipe.cs
  Obsidian.API/Crafting/Builders/Interfaces/IIngredientRecipe.cs
  Obsidian.API/Crafting/Builders/Interfaces/INamedRecipe.cs
  Obsidian.API/Crafting/Builders/Interfaces/IOutputCountRecipe.cs
  Obsidian.API/Crafting/Builders/Interfaces/IPatternedRecipe.cs
  Obsidian.API/Crafting/Builders/Interfaces/IRecipeBuilder.cs
  Obsidian.API/Crafting/Builders/Interfaces/IRecipeResult.cs
  Obsidian.API/Crafting/Builders/ShapedRecipeBuilder.cs
  Obsidian.API/Crafting/Builders/ShapelessRecipeBuilder.cs
  Obsidian.API/Crafting/Builders/SmeltingRecipeBuilder.cs
  Obsidian.API/Crafting/Builders/SmithingRecipeBuilder.cs
  Obsidian.API/Crafting/CuttingRecipe.cs
  Obsidian.API/Crafting/IRecipe.cs
  Obsidian.API/Crafting/ShapedRecipe.cs
  Obsidian.API/Crafting/ShapelessRecipe.cs
  Obsidian.API/Crafting/SmeltingRecipe.cs
  Obsidian.API/Crafting/SmithingRecipe.cs
  Obsidian/Server.cs
  Obsidian/Utilities/Registry/Registry.cs
Labels: api, priority: low

#307 Fix online mode
  Obsidian.API/_Interfaces/IPlayer.cs
  Obsidian.API/_Types/SkinProperty.cs
  Obsidian.Tests/Encryption.cs
  Obsidian/Client.cs
  Obsidian/Entities/Player.cs
  Obsidian/Globals.cs
  Obsidian/Net/Actions/PlayerInfo/AddPlayerInfoAction.cs
  Obsidian/Net/Actions/PlayerInfo/InfoAction.cs
  Obsidian/Net/Actions/PlayerInfo/UpdateListedInfoAction.cs
  Obsidian/Net/AesStream.cs
  Obsidian/Net/CipherStream.cs
  Obsidian/Net/EncryptedMinecraftStream.cs
  Obsidian/Net/MinecraftStream.Reading.cs
  Obsidian/Net/MinecraftStream.Writing.cs
  Obsidian/Net/MinecraftStream.cs
  Obsidian/Net/Packets/Login/EncryptionResponse.cs
  Obsidian/Net/Packets/Login/LoginSuccess.cs
  Obsidian/Obsidian.csproj
  Obsidian/Server.cs
  Obsidian/Utilities/Config.cs
  Obsidian/Utilities/Extensions.cs
  Obsidian/Utilities/GuidHelper.cs
  Obsidian/Utilities/Mojang/JoinedResponse.cs
  Obsidian/Utilities/Mojang/MinecraftAPI.cs
  Obsidian/Utilities/Mojang/MojangUser.cs
  Obsidian/Utilities/UserCache.cs
  Obsidian/Utilities/WhitelistedPlayer.cs
Labels: api, tests, server, priority: high, networking

#311 Fix sounds and items
  Obsidian.API/_Enums/Sounds.cs
  Obsidian/Entities/EntityMetadataType.cs
Labels: api

#312 Make joining the game and teleporting blazingly fast lol wow amazing
  Obsidian/Client.cs
  Obsidian/Entities/Player.cs
  Obsidian/Server.cs
Labels: enhancement, epic

#317 Build sh as
  .github/workflows/docker-publish.yml
  .github/workflows/dotnet.yml
  Obsidian/Obsidian.csproj
Labels: github-actions

#318 Block update/tags fix
  Obsidian.API/Obsidian.API.csproj
  Obsidian.SourceGenerators/Registry/BlocksGenerator.Blocks.cs
  Obsidian.SourceGenerators/Registry/BlocksGenerator.cs
  Obsidian.SourceGenerators/Registry/Models/Assets.cs
  Obsidian.SourceGenerators/Registry/Models/Block.cs
  Obsidian.SourceGenerators/Registry/Models/Fluid.cs
  Obsidian.SourceGenerators/Registry/Models/IRegistryItem.cs
  Obsidian.SourceGenerators/Registry/Models/Tag.cs
  Obsidian.SourceGenerators/Registry/RegistryAssetsGenerator.BlockIds.cs
  Obsidian.SourceGenerators/Registry/RegistryAssetsGenerator.Tags.cs
  Obsidian.SourceGenerators/Registry/RegistryAssetsGenerator.cs
  Obsidian/Assets/fluids.json
  Obsidian/Assets/tags.json
  Obsidian/Net/MinecraftStream.Writing.cs
  Obsidian/Obsidian.csproj
  Obsidian/WorldData/BlockUpdates.cs
Labels: api, source-generation
