Repository ObsidianMC/Obsidian, pull requests merged in 2023-05, with the labels that each got.

#346 feat: Add Bamboo Jungle and Sunflower Plains biome decorations
  Obsidian.API/Noise/BiomeSelector.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/BambooJungleDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Decorators/SunflowerPlainsDecorator.cs
  Obsidian/WorldData/Generators/Overworld/Features/Flora/BambooFlora.cs
  Obsidian/WorldData/Generators/Overworld/Features/Flora/PumpkinFlora.cs
  Obsidian/WorldData/Generators/Overworld/OverworldTerrainNoise.cs
Labels: api

#341 Container events
  Obsidian.API/Events/ContainerClickEventArgs.cs
  Obsidian.API/Events/ContainerClosedEventArgs.cs
  Obsidian.API/Events/ContainerEventArgs.cs
  Obsidian.API/Events/ICancellable.cs
  Obsidian/Entities/Player.cs
  Obsidian/Events/MinecraftEventHandler.cs
  Obsidian/Net/Packets/Play/CloseContainerPacket.cs
  Obsidian/Server.Events.cs
  Obsidian/Server.cs
Labels: api, server, priority: low, networking

#348 Cape hotfix
  Obsidian.API/Events/PlayerInteractEventArgs.cs
  Obsidian.API/_Enums/MainHand.cs
  Obsidian.API/_Interfaces/IPlayer.cs
  Obsidian.API/_Types/ClientInformation.cs
  Obsidian/Client.cs
  Obsidian/Entities/EntityMetadataType.cs
  Obsidian/Entities/Living.cs
  Obsidian/Entities/Player.cs
  Obsidian/Net/Packets/Play/Serverbound/ClientInformationPacket.cs
  Obsidian/Net/Packets/Play/Serverbound/UseItemPacket.cs
Labels: enhancement, api, priority: medium

#356 Fix BlockMeta builder warning
  Obsidian/Blocks/BlockMeta.cs
  Obsidian/Blocks/BlockMetaBuilder.cs
Labels: priority: low

#355 Fix warnings in the command framework
  Obsidian.API/_Interfaces/IOperatorList.cs
  Obsidian/Commands/CommandNode.cs
  Obsidian/Commands/Framework/CommandHandler.cs
  Obsidian/Commands/Framework/Entities/Command.cs
  Obsidian/Commands/MainCommandModule.cs
  Obsidian/Commands/Parsers/LocationTypeParser.cs
Labels: api, commands, priority: low

#358 Fix warnings for entities
  Obsidian.API/AI/INavigator.cs
  Obsidian.API/_Interfaces/IEntity.cs
  Obsidian.API/_Interfaces/ILiving.cs
  Obsidian.API/_Interfaces/IPlayer.cs
  Obsidian/Client.cs
  Obsidian/Commands/MainCommandModule.cs
  Obsidian/Entities/AI/Navigator.cs
  Obsidian/Entities/AreaEffectCloud.cs
  Obsidian/Entities/Entity.cs
  Obsidian/Entities/FallingBlock.cs
  Obsidian/Entities/ItemEntity.cs
  Obsidian/Entities/Player.cs
  Obsidian/Net/MinecraftStream.Writing.cs
  Obsidian/Net/Packets/Play/Clientbound/EntitySoundEffectPacket.cs
  Obsidian/Net/Packets/Play/Clientbound/SoundEffectPacket.cs
  Obsidian/Net/Packets/Play/Serverbound/ClickContainerPacket.cs
  Obsidian/Net/Packets/Play/Serverbound/PlayerActionPacket.cs
  Obsidian/Net/Packets/Play/Serverbound/PlayerCommandPacket.cs
  Obsidian/Net/Packets/Play/Serverbound/UseItemOnPacket.cs
  Obsidian/Server.Events.cs
  Obsidian/Server.cs
  Obsidian/WorldData/World.cs
Labels: api, commands
