Repository ObsidianMC/Obsidian, pull requests merged in 2024-12, with the labels that each got.

#455 Split up Player and Client logic
  Obsidian.API/Configuration/NetworkConfiguration.cs
  Obsidian.API/_Interfaces/IPlayer.cs
  Obsidian.API/_Types/PlayerAbility.cs
  Obsidian/Client.cs
  Obsidian/Entities/Player.Helpers.cs
  Obsidian/Entities/Player.cs
  Obsidian/Events/MainEventHandler.cs
  Obsidian/Net/ClientHandler.cs
  Obsidian/Net/ClientHandlers/ClientHandler.cs
  Obsidian/Net/ClientHandlers/ConfigurationClientHandler.cs
  Obsidian/Net/ClientHandlers/LoginClientHandler.cs
  Obsidian/Net/ClientHandlers/PlayClientHandler.cs
  Obsidian/Net/PacketCryptography.cs
  Obsidian/Net/PacketData.cs
  Obsidian/Net/Packets/Common/KeepAlivePacket.cs
  Obsidian/Net/Packets/CommonPacket.cs
  Obsidian/Net/Packets/Configuration/Serverbound/FinishConfigurationPacket.cs
  Obsidian/Net/Packets/Handshake/IntentionPacket.cs
  Obsidian/Net/Packets/IServerboundPacket.cs
  Obsidian/Net/Packets/Login/Serverbound/KeyPacket.cs
  Obsidian/Net/Packets/Play/Serverbound/AcceptTeleportationPacket.cs
  Obsidian/Net/Packets/ServerboundPacket.cs
  Obsidian/Server.cs
  Obsidian/Services/IUserCache.cs
  Obsidian/Services/PacketBroadcaster.cs
  Obsidian/WorldData/World.cs
Labels: enhancement, api, server, performance, priority: high, networking

#458 Remove consoleio
  Obsidian.API/Logging/Logger.cs
  Obsidian.API/Logging/LoggerProvider.cs
  Obsidian.API/Utilities/ConsoleIO.cs
  Obsidian.API/Utilities/Extensions.Colors.cs
  Obsidian.API/Utilities/Extensions.cs
  Obsidian.ConsoleApp/Program.cs
  Obsidian/Client.cs
  Obsidian/Hosting/DefaultServerEnvironment.cs
  Obsidian/Server.cs
  Obsidian/Utilities/ServerStatus.cs
Labels: api

#460 Hotfix/chunk deserializing
  Obsidian.SourceGenerators/Registry/BlocksGenerator.BlockStates.cs
  Obsidian.SourceGenerators/Registry/BlocksGenerator.Blocks.cs
  Obsidian.SourceGenerators/Registry/NameHelper.cs
  Obsidian/ChunkData/BiomeContainer.cs
  Obsidian/ChunkData/BlockStateContainer.cs
  Obsidian/ChunkData/DataContainer.cs
  Obsidian/WorldData/Region.cs
  Obsidian/WorldData/World.cs
Labels: bug, source-generation, world generation, priority: blocking

#461 Move codecs and item registry to api
  Obsidian.API/Obsidian.API.csproj
  Obsidian.API/Registries/CodecRegistry.cs
  Obsidian.API/Registries/ItemsRegistry.cs
  Obsidian.API/_Types/Inventory/Item.cs
  Obsidian.API/_Types/Tag.cs
  Obsidian.SourceGenerators/Registry/RegistryAssetsGenerator.Codecs.cs
  Obsidian.SourceGenerators/Registry/RegistryAssetsGenerator.Items.cs
  Obsidian.SourceGenerators/Registry/RegistryAssetsGenerator.Tags.cs
  Obsidian.SourceGenerators/Registry/RegistryAssetsGenerator.cs
  Obsidian/Assets/Codecs/biomes.json
  Obsidian/Assets/Codecs/chat_type.json
  Obsidian/Assets/Codecs/damage_type.json
  Obsidian/Assets/Codecs/dimensions.json
  Obsidian/Assets/Codecs/painting_variant.json
  Obsidian/Assets/Codecs/trim_material.json
  Obsidian/Assets/Codecs/trim_pattern.json
  Obsidian/Assets/Codecs/wolf_variant.json
  Obsidian/BlockUpdate.cs
  Obsidian/GlobalUsings.cs
  Obsidian/Obsidian.csproj
  Obsidian/Registries/BlocksRegistry.cs
  Obsidian/Registries/CommandsRegistry.cs
  Obsidian/Registries/RecipesRegistry.cs
  Obsidian/Tag.cs
Labels: api, source-generation

#462 Fix blocks registry not finding block
  Obsidian/Registries/BlocksRegistry.cs
Labels: priority: blocking

#463 Feature/file logging
  Obsidian.ConsoleApp/Program.cs
  Obsidian/Hosting/DefaultServerEnvironment.cs
  Obsidian/Hosting/StreamLogger.cs
  Obsidian/Registries/StructureRegistry.cs
Labels: enhancement

#464 Minor fixes to operator checks
  Obsidian.API/_Attributes/RequirePermissionAttribute.cs
  Obsidian/Entities/Player.cs
Labels: bug, api, commands

#465 Add give command
  Obsidian/Commands/Modules/MainCommandModule.cs
  Obsidian/Net/MinecraftStream.Reading.cs
Labels: enhancement, epic, commands

#466 Generate a id to name map for packets
  Obsidian.SourceGenerators/Packets/PacketClassesGenerator.cs
  Obsidian/Client.cs
  Obsidian/GlobalUsings.cs
  Obsidian/Net/ClientHandlers/ConfigurationClientHandler.cs
  Obsidian/Net/ClientHandlers/PlayClientHandler.cs
Labels: source-generation
