Repository ObsidianMC/Obsidian, pull requests merged in 2025-01, with the labels that each got.

#469 Implement dependency loading
  Obsidian.API/Obsidian.API.csproj
  Obsidian.ConsoleApp/config/server.json
  Obsidian/Commands/Modules/MainCommandModule.cs
  Obsidian/Plugins/PluginContainer.cs
  Obsidian/Plugins/PluginManager.cs
  Obsidian/Plugins/PluginProviders/PackedPluginProvider.cs
  Obsidian/Plugins/PluginProviders/PluginLoadContext.cs
Labels: api, plugins, commands

#471 Implement IEntitySpawner and some AI beginning.
  Obsidian.API/Entities/IEntitySpawner.cs
  Obsidian.API/_Interfaces/IEntity.cs
  Obsidian.API/_Interfaces/IWorld.cs
  Obsidian/Commands/Modules/MainCommandModule.cs
  Obsidian/Entities/AgeableMob.cs
  Obsidian/Entities/Animal.cs
  Obsidian/Entities/Entity.cs
  Obsidian/Entities/Factories/EntitySpawner.cs
  Obsidian/Entities/Mob.cs
  Obsidian/Entities/Pig.cs
  Obsidian/Server.cs
  Obsidian/WorldData/World.cs
Labels: api, commands

#472 Fix service injection and add plugin unloading
  Obsidian/Plugins/PluginContainer.cs
  Obsidian/Plugins/PluginManager.cs
  Obsidian/Plugins/ServiceProviders/PluginServiceHandler.cs
  Obsidian/Server.cs
  Obsidian/Utilities/Extensions.cs
Labels: plugins, server, priority: blocking
