Repository ObsidianMC/Obsidian, pull requests merged in 2025-02, with the labels that each got.

#478 Implement compressed packets
  Obsidian/Client.cs
  Obsidian/Net/MinecraftStream.Writing.cs
  Obsidian/Net/Packets/ClientboundPacket.cs
Labels: enhancement, server, priority: medium, networking

#479 Fix a couple of nbt exceptions
  Obsidian.API/_Interfaces/IEntity.cs
  Obsidian.Nbt/NbtCompound.cs
  Obsidian/Entities/Entity.cs
  Obsidian/Entities/Player.Helpers.cs
  Obsidian/Net/MinecraftStream.Reading.cs
Labels: bug, api, nbt, priority: medium

#481 Bump packages
  Obsidian.API/Obsidian.API.csproj
  Obsidian.ConsoleApp/Obsidian.ConsoleApp.csproj
  Obsidian.SourceGenerators/Obsidian.SourceGenerators.csproj
  Obsidian.Tests/Obsidian.Tests.csproj
  Obsidian/Obsidian.csproj
Labels: api, source-generation, tests
